consultorio-kit/n8n/WF-DASH-4-reset-conversacion.json
{"updatedAt":"2026-05-05T19:54:29.071Z","createdAt":"2026-05-05T19:54:29.071Z","id":"zDJs7JOk16HGsbUJ","name":"WF-DASH-3 Reset Conversacion","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"dashboard-reset-conversacion","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"wh-reset-1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[128,304],"webhookId":"reset-conv-001","credentials":{"httpHeaderAuth":{"id":"EQTQqUjBOQzqE8qQ","name":"Dashboard"}}},{"parameters":{"jsCode":"const helpers = this.helpers;\nconst SUPABASE_URL = $env.SUPABASE_URL;\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_KEY;\n\nconst body = $input.first().json?.body || {};\nconst { telefono_wa } = body;\n\nif (!telefono_wa) return [{ json: { ok: false, error: 'telefono_wa requerido' } }];\n\nconst fmt = p => { let s=p.replace(/[^0-9]/g,''); if(s.startsWith('54')&&s.length>=12) return s; if(s.length===10) return '549'+s; return s; };\nconst phone = fmt(telefono_wa);\n\nawait helpers.httpRequest({\n  method: 'PATCH',\n  url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n  qs: { telefono_wa: `eq.${phone}` },\n  headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n  body: JSON.stringify({ estado: 'inicio', contexto: {}, handoff_humano: false, updated_at: new Date().toISOString() })\n});\n\nreturn [{ json: { ok: true, phone } }];"},"id":"code-reset-1","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[384,304]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($input.first().json) }}","options":{}},"id":"resp-reset-1","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[640,304]}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"d0431bef-017b-461f-b3db-1789ef91ee98","activeVersionId":"d0431bef-017b-461f-b3db-1789ef91ee98","versionCounter":4,"triggerCount":1,"shared":[{"updatedAt":"2026-05-05T19:54:29.071Z","createdAt":"2026-05-05T19:54:29.071Z","role":"workflow:owner","workflowId":"zDJs7JOk16HGsbUJ","projectId":"Gc8KdOrt5WcC0jQ7","project":{"updatedAt":"2026-03-03T03:56:33.366Z","createdAt":"2026-03-03T03:50:22.655Z","id":"Gc8KdOrt5WcC0jQ7","name":"Carlos Gonzalez <cgonzalezarchilla@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"606822e1-c1a1-4b8e-bb98-c635d3a41805","projectRelations":[{"updatedAt":"2026-03-03T03:50:22.655Z","createdAt":"2026-03-03T03:50:22.655Z","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805","projectId":"Gc8KdOrt5WcC0jQ7","user":{"updatedAt":"2026-05-06T03:59:51.075Z","createdAt":"2026-03-03T03:50:22.256Z","id":"606822e1-c1a1-4b8e-bb98-c635d3a41805","email":"cgonzalezarchilla@gmail.com","firstName":"Carlos","lastName":"Gonzalez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-03-03T03:56:31.369Z","personalization_survey_n8n_version":"2.4.7"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"0X5Abkk-rKt5VX1dzIKGM","userActivatedAt":1772563552032,"npsSurvey":{"responded":true,"lastShownAt":1773760612644}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-05-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-05T19:54:29.085Z","createdAt":"2026-05-05T19:54:29.085Z","versionId":"d0431bef-017b-461f-b3db-1789ef91ee98","workflowId":"zDJs7JOk16HGsbUJ","nodes":[{"parameters":{"httpMethod":"POST","path":"dashboard-reset-conversacion","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"wh-reset-1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[128,304],"webhookId":"reset-conv-001","credentials":{"httpHeaderAuth":{"id":"EQTQqUjBOQzqE8qQ","name":"Dashboard"}}},{"parameters":{"jsCode":"const helpers = this.helpers;\nconst SUPABASE_URL = $env.SUPABASE_URL;\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_KEY;\n\nconst body = $input.first().json?.body || {};\nconst { telefono_wa } = body;\n\nif (!telefono_wa) return [{ json: { ok: false, error: 'telefono_wa requerido' } }];\n\nconst fmt = p => { let s=p.replace(/[^0-9]/g,''); if(s.startsWith('54')&&s.length>=12) return s; if(s.length===10) return '549'+s; return s; };\nconst phone = fmt(telefono_wa);\n\nawait helpers.httpRequest({\n  method: 'PATCH',\n  url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n  qs: { telefono_wa: `eq.${phone}` },\n  headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n  body: JSON.stringify({ estado: 'inicio', contexto: {}, handoff_humano: false, updated_at: new Date().toISOString() })\n});\n\nreturn [{ json: { ok: true, phone } }];"},"id":"code-reset-1","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[384,304]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($input.first().json) }}","options":{}},"id":"resp-reset-1","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[640,304]}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"authors":"Carlos Gonzalez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-05T19:54:34.324Z","id":282,"workflowId":"zDJs7JOk16HGsbUJ","versionId":"d0431bef-017b-461f-b3db-1789ef91ee98","event":"activated","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805"}]}}