consultorio-kit/n8n/WF-DASH-3-crear-paciente.json
{"updatedAt":"2026-04-22T23:02:29.757Z","createdAt":"2026-04-22T22:10:07.743Z","id":"zNw6smrjMVOfa1fY","name":"WF-DASH-3 Crear Paciente","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"dashboard-crear-paciente","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"wh1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[128,304],"webhookId":"b2a25114-60f1-4e02-bcc2-0537e94e5f7e","credentials":{"httpHeaderAuth":{"id":"EQTQqUjBOQzqE8qQ","name":"Dashboard"}}},{"parameters":{"jsCode":"const helpers = this.helpers;\nconst SUPABASE_URL = $input.first().json._supa_url;\nconst SUPABASE_KEY = $input.first().json._supa_key;\nconst body = $input.first().json?.body || {};\n\nconst { nombre, telefono_wa, obra_social } = body;\nif (!nombre || !telefono_wa) {\n  return [{ json: { ok: false, error: 'nombre y telefono_wa requeridos' } }];\n}\n\nconst existing = await helpers.httpRequest({\n  method: 'GET', url: `${SUPABASE_URL}/rest/v1/consultorio_pacientes`,\n  qs: { telefono_wa: `eq.${telefono_wa}`, select: 'id,nombre' },\n  headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}` }\n});\n\nif (existing && existing.length > 0) {\n  return [{ json: { ok: true, paciente_id: existing[0].id, created: false } }];\n}\n\nconst payload = { nombre, telefono_wa };\nif (obra_social) payload.obra_social = obra_social;\n\nconst res = await helpers.httpRequest({\n  method: 'POST', url: `${SUPABASE_URL}/rest/v1/consultorio_pacientes`,\n  headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json', Prefer: 'return=representation' },\n  body: JSON.stringify(payload)\n});\n\nconst paciente = Array.isArray(res) ? res[0] : res;\nreturn [{ json: { ok: true, paciente_id: paciente?.id, created: true } }];"},"id":"code1","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,304]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"resp1","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[896,304]},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,304],"parameters":{"mode":"keepAllFields","assignments":{"assignments":[{"id":"s0","name":"_supa_url","value":"={{ $env.SUPABASE_URL }}","type":"string"},{"id":"s1","name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}","type":"string"}]},"options":{}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,304],"parameters":{"mode":"keepAllFields","assignments":{"assignments":[{"id":"s0","name":"_supa_url","value":"={{ $env.SUPABASE_URL }}","type":"string"},{"id":"s1","name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}","type":"string"}]},"options":{}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,304],"parameters":{"mode":"keepAllFields","assignments":{"assignments":[{"id":"s0","name":"_supa_url","value":"={{ $env.SUPABASE_URL }}","type":"string"},{"id":"s1","name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}","type":"string"}]},"options":{}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"}]}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"}]}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"}]}}}],"connections":{"Webhook":{"main":[[{"node":"Set Env Vars","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Set Env Vars":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b81a15fd-c051-432b-a1df-8af3bbbb67d0","activeVersionId":"b81a15fd-c051-432b-a1df-8af3bbbb67d0","versionCounter":51,"triggerCount":1,"shared":[{"updatedAt":"2026-04-22T22:10:07.743Z","createdAt":"2026-04-22T22:10:07.743Z","role":"workflow:owner","workflowId":"zNw6smrjMVOfa1fY","projectId":"Gc8KdOrt5WcC0jQ7","project":{"updatedAt":"2026-03-03T03:56:33.366Z","createdAt":"2026-03-03T03:50:22.655Z","id":"Gc8KdOrt5WcC0jQ7","name":"Carlos Gonzalez <cgonzalezarchilla@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"606822e1-c1a1-4b8e-bb98-c635d3a41805","projectRelations":[{"updatedAt":"2026-03-03T03:50:22.655Z","createdAt":"2026-03-03T03:50:22.655Z","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805","projectId":"Gc8KdOrt5WcC0jQ7","user":{"updatedAt":"2026-05-06T03:59:51.075Z","createdAt":"2026-03-03T03:50:22.256Z","id":"606822e1-c1a1-4b8e-bb98-c635d3a41805","email":"cgonzalezarchilla@gmail.com","firstName":"Carlos","lastName":"Gonzalez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-03-03T03:56:31.369Z","personalization_survey_n8n_version":"2.4.7"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"0X5Abkk-rKt5VX1dzIKGM","userActivatedAt":1772563552032,"npsSurvey":{"responded":true,"lastShownAt":1773760612644}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-05-06","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-22T23:02:29.759Z","createdAt":"2026-04-22T23:02:29.759Z","versionId":"b81a15fd-c051-432b-a1df-8af3bbbb67d0","workflowId":"zNw6smrjMVOfa1fY","nodes":[{"parameters":{"httpMethod":"POST","path":"dashboard-crear-paciente","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"wh1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[128,304],"webhookId":"b2a25114-60f1-4e02-bcc2-0537e94e5f7e","credentials":{"httpHeaderAuth":{"id":"EQTQqUjBOQzqE8qQ","name":"Dashboard"}}},{"parameters":{"jsCode":"const helpers = this.helpers;\nconst SUPABASE_URL = $input.first().json._supa_url;\nconst SUPABASE_KEY = $input.first().json._supa_key;\nconst body = $input.first().json?.body || {};\n\nconst { nombre, telefono_wa, obra_social } = body;\nif (!nombre || !telefono_wa) {\n  return [{ json: { ok: false, error: 'nombre y telefono_wa requeridos' } }];\n}\n\nconst existing = await helpers.httpRequest({\n  method: 'GET', url: `${SUPABASE_URL}/rest/v1/consultorio_pacientes`,\n  qs: { telefono_wa: `eq.${telefono_wa}`, select: 'id,nombre' },\n  headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}` }\n});\n\nif (existing && existing.length > 0) {\n  return [{ json: { ok: true, paciente_id: existing[0].id, created: false } }];\n}\n\nconst payload = { nombre, telefono_wa };\nif (obra_social) payload.obra_social = obra_social;\n\nconst res = await helpers.httpRequest({\n  method: 'POST', url: `${SUPABASE_URL}/rest/v1/consultorio_pacientes`,\n  headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json', Prefer: 'return=representation' },\n  body: JSON.stringify(payload)\n});\n\nconst paciente = Array.isArray(res) ? res[0] : res;\nreturn [{ json: { ok: true, paciente_id: paciente?.id, created: true } }];"},"id":"code1","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,304]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"resp1","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[896,304]},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,304],"parameters":{"mode":"keepAllFields","assignments":{"assignments":[{"id":"s0","name":"_supa_url","value":"={{ $env.SUPABASE_URL }}","type":"string"},{"id":"s1","name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}","type":"string"}]},"options":{}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,304],"parameters":{"mode":"keepAllFields","assignments":{"assignments":[{"id":"s0","name":"_supa_url","value":"={{ $env.SUPABASE_URL }}","type":"string"},{"id":"s1","name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}","type":"string"}]},"options":{}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,304],"parameters":{"mode":"keepAllFields","assignments":{"assignments":[{"id":"s0","name":"_supa_url","value":"={{ $env.SUPABASE_URL }}","type":"string"},{"id":"s1","name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}","type":"string"}]},"options":{}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"}]}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"}]}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"}]}}}],"connections":{"Webhook":{"main":[[{"node":"Set Env Vars","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Set Env Vars":{"main":[[{"node":"Code","type":"main","index":0}]]}},"authors":"Carlos Gonzalez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-22T23:02:29.848Z","id":251,"workflowId":"zNw6smrjMVOfa1fY","versionId":"b81a15fd-c051-432b-a1df-8af3bbbb67d0","event":"activated","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805"},{"createdAt":"2026-04-22T23:02:30.047Z","id":252,"workflowId":"zNw6smrjMVOfa1fY","versionId":"b81a15fd-c051-432b-a1df-8af3bbbb67d0","event":"deactivated","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805"},{"createdAt":"2026-04-22T23:02:31.204Z","id":253,"workflowId":"zNw6smrjMVOfa1fY","versionId":"b81a15fd-c051-432b-a1df-8af3bbbb67d0","event":"activated","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805"}]}}