consultorio-kit/n8n/WF-DASH-2-generar-link.json
{"updatedAt":"2026-04-22T23:02:28.161Z","createdAt":"2026-04-22T22:10:07.398Z","id":"LNRUmq4xy34Uhvg8","name":"WF-DASH-2 Generar Link","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"dashboard-generar-link","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"wh1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[128,304],"webhookId":"d57a4fe1-412b-4c8c-8dfb-a66513e1e566","credentials":{"httpHeaderAuth":{"id":"EQTQqUjBOQzqE8qQ","name":"Dashboard"}}},{"parameters":{"jsCode":"const helpers = this.helpers;\nconst SUPABASE_URL = $input.first().json._supa_url;\nconst SUPABASE_KEY = $input.first().json._supa_key;\nconst WF08_BASE = $input.first().json._wf08_base || 'https://nexo-terra-n8n.6fwciw.easypanel.host/webhook/consultorio-turnos';\nconst body = $input.first().json?.body || {};\n\nconst { telefono_wa, profesional_id } = body;\nif (!telefono_wa || !profesional_id) {\n  return [{ json: { ok: false, error: 'telefono_wa y profesional_id requeridos' } }];\n}\n\nconst token = Date.now().toString(16) + Math.floor(Math.random()*0xFFFFFFFF).toString(16).padStart(8,'0') + Math.floor(Math.random()*0xFFFFFFFF).toString(16).padStart(8,'0');\n\nconst convArr = await helpers.httpRequest({\n  method: 'GET', url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n  qs: { telefono_wa: `eq.${telefono_wa}`, select: 'telefono_wa,contexto' },\n  headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}` }\n});\n\nif (!convArr || convArr.length === 0) {\n  await helpers.httpRequest({\n    method: 'POST', url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n    headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json', Prefer: 'return=minimal' },\n    body: JSON.stringify({\n      telefono_wa, estado: 'inicio', handoff_humano: false,\n      contexto: { bookingToken: token, profesionalId: parseInt(profesional_id) }\n    })\n  });\n} else {\n  const ctx = convArr[0].contexto || {};\n  await helpers.httpRequest({\n    method: 'PATCH', url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n    qs: { telefono_wa: `eq.${telefono_wa}` },\n    headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ contexto: { ...ctx, bookingToken: token, profesionalId: parseInt(profesional_id) }, updated_at: new Date().toISOString() })\n  });\n}\n\nreturn [{ json: { ok: true, url: `${WF08_BASE}?token=${token}` } }];"},"id":"code1","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,304]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"resp1","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[896,304]},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,304],"parameters":{"mode":"keepAllFields","assignments":{"assignments":[{"id":"s0","name":"_supa_url","value":"={{ $env.SUPABASE_URL }}","type":"string"},{"id":"s1","name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}","type":"string"},{"id":"s2","name":"_wf08_base","value":"={{ $env.WF08_WEBHOOK_BASE }}","type":"string"}]},"options":{}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,304],"parameters":{"mode":"keepAllFields","assignments":{"assignments":[{"id":"s0","name":"_supa_url","value":"={{ $env.SUPABASE_URL }}","type":"string"},{"id":"s1","name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}","type":"string"},{"id":"s2","name":"_wf08_base","value":"={{ $env.WF08_WEBHOOK_BASE }}","type":"string"}]},"options":{}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,304],"parameters":{"mode":"keepAllFields","assignments":{"assignments":[{"id":"s0","name":"_supa_url","value":"={{ $env.SUPABASE_URL }}","type":"string"},{"id":"s1","name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}","type":"string"},{"id":"s2","name":"_wf08_base","value":"={{ $env.WF08_WEBHOOK_BASE }}","type":"string"}]},"options":{}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"_wf08_base","value":"={{ $env.WF08_WEBHOOK_BASE }}"}]}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"_wf08_base","value":"={{ $env.WF08_WEBHOOK_BASE }}"}]}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"_wf08_base","value":"={{ $env.WF08_WEBHOOK_BASE }}"}]}}}],"connections":{"Webhook":{"main":[[{"node":"Set Env Vars","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Set Env Vars":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7ab361e0-afeb-4aba-a0cf-05823d2d2975","activeVersionId":"7ab361e0-afeb-4aba-a0cf-05823d2d2975","versionCounter":47,"triggerCount":1,"shared":[{"updatedAt":"2026-04-22T22:10:07.398Z","createdAt":"2026-04-22T22:10:07.398Z","role":"workflow:owner","workflowId":"LNRUmq4xy34Uhvg8","projectId":"Gc8KdOrt5WcC0jQ7","project":{"updatedAt":"2026-03-03T03:56:33.366Z","createdAt":"2026-03-03T03:50:22.655Z","id":"Gc8KdOrt5WcC0jQ7","name":"Carlos Gonzalez <cgonzalezarchilla@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"606822e1-c1a1-4b8e-bb98-c635d3a41805","projectRelations":[{"updatedAt":"2026-03-03T03:50:22.655Z","createdAt":"2026-03-03T03:50:22.655Z","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805","projectId":"Gc8KdOrt5WcC0jQ7","user":{"updatedAt":"2026-05-05T18:21:47.002Z","createdAt":"2026-03-03T03:50:22.256Z","id":"606822e1-c1a1-4b8e-bb98-c635d3a41805","email":"cgonzalezarchilla@gmail.com","firstName":"Carlos","lastName":"Gonzalez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-03-03T03:56:31.369Z","personalization_survey_n8n_version":"2.4.7"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"0X5Abkk-rKt5VX1dzIKGM","userActivatedAt":1772563552032,"npsSurvey":{"responded":true,"lastShownAt":1773760612644}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-05-05","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-22T23:02:28.162Z","createdAt":"2026-04-22T23:02:28.162Z","versionId":"7ab361e0-afeb-4aba-a0cf-05823d2d2975","workflowId":"LNRUmq4xy34Uhvg8","nodes":[{"parameters":{"httpMethod":"POST","path":"dashboard-generar-link","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"wh1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[128,304],"webhookId":"d57a4fe1-412b-4c8c-8dfb-a66513e1e566","credentials":{"httpHeaderAuth":{"id":"EQTQqUjBOQzqE8qQ","name":"Dashboard"}}},{"parameters":{"jsCode":"const helpers = this.helpers;\nconst SUPABASE_URL = $input.first().json._supa_url;\nconst SUPABASE_KEY = $input.first().json._supa_key;\nconst WF08_BASE = $input.first().json._wf08_base || 'https://nexo-terra-n8n.6fwciw.easypanel.host/webhook/consultorio-turnos';\nconst body = $input.first().json?.body || {};\n\nconst { telefono_wa, profesional_id } = body;\nif (!telefono_wa || !profesional_id) {\n  return [{ json: { ok: false, error: 'telefono_wa y profesional_id requeridos' } }];\n}\n\nconst token = Date.now().toString(16) + Math.floor(Math.random()*0xFFFFFFFF).toString(16).padStart(8,'0') + Math.floor(Math.random()*0xFFFFFFFF).toString(16).padStart(8,'0');\n\nconst convArr = await helpers.httpRequest({\n  method: 'GET', url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n  qs: { telefono_wa: `eq.${telefono_wa}`, select: 'telefono_wa,contexto' },\n  headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}` }\n});\n\nif (!convArr || convArr.length === 0) {\n  await helpers.httpRequest({\n    method: 'POST', url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n    headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json', Prefer: 'return=minimal' },\n    body: JSON.stringify({\n      telefono_wa, estado: 'inicio', handoff_humano: false,\n      contexto: { bookingToken: token, profesionalId: parseInt(profesional_id) }\n    })\n  });\n} else {\n  const ctx = convArr[0].contexto || {};\n  await helpers.httpRequest({\n    method: 'PATCH', url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n    qs: { telefono_wa: `eq.${telefono_wa}` },\n    headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ contexto: { ...ctx, bookingToken: token, profesionalId: parseInt(profesional_id) }, updated_at: new Date().toISOString() })\n  });\n}\n\nreturn [{ json: { ok: true, url: `${WF08_BASE}?token=${token}` } }];"},"id":"code1","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,304]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"resp1","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[896,304]},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,304],"parameters":{"mode":"keepAllFields","assignments":{"assignments":[{"id":"s0","name":"_supa_url","value":"={{ $env.SUPABASE_URL }}","type":"string"},{"id":"s1","name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}","type":"string"},{"id":"s2","name":"_wf08_base","value":"={{ $env.WF08_WEBHOOK_BASE }}","type":"string"}]},"options":{}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,304],"parameters":{"mode":"keepAllFields","assignments":{"assignments":[{"id":"s0","name":"_supa_url","value":"={{ $env.SUPABASE_URL }}","type":"string"},{"id":"s1","name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}","type":"string"},{"id":"s2","name":"_wf08_base","value":"={{ $env.WF08_WEBHOOK_BASE }}","type":"string"}]},"options":{}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,304],"parameters":{"mode":"keepAllFields","assignments":{"assignments":[{"id":"s0","name":"_supa_url","value":"={{ $env.SUPABASE_URL }}","type":"string"},{"id":"s1","name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}","type":"string"},{"id":"s2","name":"_wf08_base","value":"={{ $env.WF08_WEBHOOK_BASE }}","type":"string"}]},"options":{}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"_wf08_base","value":"={{ $env.WF08_WEBHOOK_BASE }}"}]}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"_wf08_base","value":"={{ $env.WF08_WEBHOOK_BASE }}"}]}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"_wf08_base","value":"={{ $env.WF08_WEBHOOK_BASE }}"}]}}}],"connections":{"Webhook":{"main":[[{"node":"Set Env Vars","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Set Env Vars":{"main":[[{"node":"Code","type":"main","index":0}]]}},"authors":"Carlos Gonzalez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-22T23:02:28.243Z","id":248,"workflowId":"LNRUmq4xy34Uhvg8","versionId":"7ab361e0-afeb-4aba-a0cf-05823d2d2975","event":"activated","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805"},{"createdAt":"2026-04-22T23:02:28.369Z","id":249,"workflowId":"LNRUmq4xy34Uhvg8","versionId":"7ab361e0-afeb-4aba-a0cf-05823d2d2975","event":"deactivated","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805"},{"createdAt":"2026-04-22T23:02:29.487Z","id":250,"workflowId":"LNRUmq4xy34Uhvg8","versionId":"7ab361e0-afeb-4aba-a0cf-05823d2d2975","event":"activated","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805"}]}}