consultorio-kit/n8n/WF-DASH-1-cancelar-turno.json
{"updatedAt":"2026-04-22T23:02:26.378Z","createdAt":"2026-04-22T22:10:06.866Z","id":"nUhfR1hALLBosDhr","name":"WF-DASH-1 Cancelar Turno","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"dashboard-cancelar","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"wh1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[128,304],"webhookId":"4477d2cf-29b6-4b06-9cd9-3a65cd255e79","credentials":{"httpHeaderAuth":{"id":"EQTQqUjBOQzqE8qQ","name":"Dashboard"}}},{"parameters":{"jsCode":"const helpers = this.helpers;\nconst SUPABASE_URL = $input.first().json._supa_url;\nconst SUPABASE_KEY = $input.first().json._supa_key;\nconst WA_TOKEN = $input.first().json._wa_token;\nconst PHONE_ID = '963190063548521';\nconst WF08_BASE = $input.first().json._wf08_base || 'https://nexo-terra-n8n.6fwciw.easypanel.host/webhook/consultorio-turnos';\nconst body = $input.first().json?.body || {};\n\nconst { turno_id, motivo } = body;\nif (!turno_id) return [{ json: { ok: false, error: 'turno_id requerido' } }];\n\nasync function supaGet(table, qs) {\n  return helpers.httpRequest({\n    method: 'GET', url: `${SUPABASE_URL}/rest/v1/${table}`, qs,\n    headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}` }\n  });\n}\nasync function supaPatch(table, qs, data) {\n  return helpers.httpRequest({\n    method: 'PATCH', url: `${SUPABASE_URL}/rest/v1/${table}`, qs,\n    headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ ...data, updated_at: new Date().toISOString() })\n  });\n}\n\nconst turnoArr = await supaGet('consultorio_turnos', { id: `eq.${turno_id}`, select: 'id,fecha_hora,profesional_id,paciente_id,estado' });\nconst turno = turnoArr?.[0];\nif (!turno) return [{ json: { ok: false, error: 'Turno no encontrado' } }];\n\nconst [pacienteArr, profArr] = await Promise.all([\n  supaGet('consultorio_pacientes', { id: `eq.${turno.paciente_id}`, select: 'nombre,telefono_wa' }),\n  supaGet('consultorio_profesionales', { id: `eq.${turno.profesional_id}`, select: 'nombre' })\n]);\nconst paciente = pacienteArr?.[0];\nconst prof = profArr?.[0];\n\nawait supaPatch('consultorio_turnos', { id: `eq.${turno_id}` }, { estado: 'cancelado' });\n\nlet wa_sent = false;\nif (paciente?.telefono_wa) {\n  try {\n    const d = new Date(new Date(turno.fecha_hora).getTime() - 3 * 60 * 60 * 1000);\n    const DIAS = ['Dom','Lun','Mar','Mié','Jue','Vie','Sáb'];\n    const MESES = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\n    const fec = `${DIAS[d.getUTCDay()]} ${d.getUTCDate()} de ${MESES[d.getUTCMonth()]}`;\n    const hr = `${String(d.getUTCHours()).padStart(2,'0')}:${String(d.getUTCMinutes()).padStart(2,'0')}`;\n    const motivoTxt = motivo ? `\\n\\nMotivo: ${motivo}` : '';\n    const msgBody = `❌ *Tu turno fue cancelado*\\n\\n📅 ${fec}, ${hr} hs\\n👨‍⚕️ ${prof?.nombre || 'el profesional'}${motivoTxt}\\n\\nEscribinos para reagendar cuando quieras. 👋`;\n    await helpers.httpRequest({\n      method: 'POST',\n      url: `https://graph.facebook.com/v21.0/${PHONE_ID}/messages`,\n      headers: { Authorization: `Bearer ${WA_TOKEN}`, 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        messaging_product: 'whatsapp', to: paciente.telefono_wa, type: 'interactive',\n        interactive: {\n          type: 'cta_url', body: { text: msgBody },\n          action: { name: 'cta_url', parameters: { display_text: 'Reservar nuevo turno', url: WF08_BASE } }\n        }\n      })\n    });\n    wa_sent = true;\n  } catch(e) {}\n}\n\nreturn [{ json: { ok: true, wa_sent } }];"},"id":"code1","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,304]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"resp1","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[896,304]},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"}]}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"_wa_token","value":"={{ $env.META_WHATSAPP_TOKEN }}"},{"name":"_wf08_base","value":"={{ $env.WF08_WEBHOOK_BASE }}"}]}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"_wa_token","value":"={{ $env.META_WHATSAPP_TOKEN }}"},{"name":"_wf08_base","value":"={{ $env.WF08_WEBHOOK_BASE }}"}]}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"_wa_token","value":"={{ $env.META_WHATSAPP_TOKEN }}"},{"name":"_wf08_base","value":"={{ $env.WF08_WEBHOOK_BASE }}"}]}}}],"connections":{"Webhook":{"main":[[{"node":"Set Env Vars","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Set Env Vars":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c5a6ea22-c786-4e87-87ce-5a39b6b35157","activeVersionId":"c5a6ea22-c786-4e87-87ce-5a39b6b35157","versionCounter":68,"triggerCount":1,"shared":[{"updatedAt":"2026-04-22T22:10:06.866Z","createdAt":"2026-04-22T22:10:06.866Z","role":"workflow:owner","workflowId":"nUhfR1hALLBosDhr","projectId":"Gc8KdOrt5WcC0jQ7","project":{"updatedAt":"2026-03-03T03:56:33.366Z","createdAt":"2026-03-03T03:50:22.655Z","id":"Gc8KdOrt5WcC0jQ7","name":"Carlos Gonzalez <cgonzalezarchilla@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"606822e1-c1a1-4b8e-bb98-c635d3a41805","projectRelations":[{"updatedAt":"2026-03-03T03:50:22.655Z","createdAt":"2026-03-03T03:50:22.655Z","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805","projectId":"Gc8KdOrt5WcC0jQ7","user":{"updatedAt":"2026-05-05T18:21:47.002Z","createdAt":"2026-03-03T03:50:22.256Z","id":"606822e1-c1a1-4b8e-bb98-c635d3a41805","email":"cgonzalezarchilla@gmail.com","firstName":"Carlos","lastName":"Gonzalez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-03-03T03:56:31.369Z","personalization_survey_n8n_version":"2.4.7"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"0X5Abkk-rKt5VX1dzIKGM","userActivatedAt":1772563552032,"npsSurvey":{"responded":true,"lastShownAt":1773760612644}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-05-05","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-22T23:02:26.380Z","createdAt":"2026-04-22T23:02:26.380Z","versionId":"c5a6ea22-c786-4e87-87ce-5a39b6b35157","workflowId":"nUhfR1hALLBosDhr","nodes":[{"parameters":{"httpMethod":"POST","path":"dashboard-cancelar","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"wh1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[128,304],"webhookId":"4477d2cf-29b6-4b06-9cd9-3a65cd255e79","credentials":{"httpHeaderAuth":{"id":"EQTQqUjBOQzqE8qQ","name":"Dashboard"}}},{"parameters":{"jsCode":"const helpers = this.helpers;\nconst SUPABASE_URL = $input.first().json._supa_url;\nconst SUPABASE_KEY = $input.first().json._supa_key;\nconst WA_TOKEN = $input.first().json._wa_token;\nconst PHONE_ID = '963190063548521';\nconst WF08_BASE = $input.first().json._wf08_base || 'https://nexo-terra-n8n.6fwciw.easypanel.host/webhook/consultorio-turnos';\nconst body = $input.first().json?.body || {};\n\nconst { turno_id, motivo } = body;\nif (!turno_id) return [{ json: { ok: false, error: 'turno_id requerido' } }];\n\nasync function supaGet(table, qs) {\n  return helpers.httpRequest({\n    method: 'GET', url: `${SUPABASE_URL}/rest/v1/${table}`, qs,\n    headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}` }\n  });\n}\nasync function supaPatch(table, qs, data) {\n  return helpers.httpRequest({\n    method: 'PATCH', url: `${SUPABASE_URL}/rest/v1/${table}`, qs,\n    headers: { apikey: SUPABASE_KEY, Authorization: `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ ...data, updated_at: new Date().toISOString() })\n  });\n}\n\nconst turnoArr = await supaGet('consultorio_turnos', { id: `eq.${turno_id}`, select: 'id,fecha_hora,profesional_id,paciente_id,estado' });\nconst turno = turnoArr?.[0];\nif (!turno) return [{ json: { ok: false, error: 'Turno no encontrado' } }];\n\nconst [pacienteArr, profArr] = await Promise.all([\n  supaGet('consultorio_pacientes', { id: `eq.${turno.paciente_id}`, select: 'nombre,telefono_wa' }),\n  supaGet('consultorio_profesionales', { id: `eq.${turno.profesional_id}`, select: 'nombre' })\n]);\nconst paciente = pacienteArr?.[0];\nconst prof = profArr?.[0];\n\nawait supaPatch('consultorio_turnos', { id: `eq.${turno_id}` }, { estado: 'cancelado' });\n\nlet wa_sent = false;\nif (paciente?.telefono_wa) {\n  try {\n    const d = new Date(new Date(turno.fecha_hora).getTime() - 3 * 60 * 60 * 1000);\n    const DIAS = ['Dom','Lun','Mar','Mié','Jue','Vie','Sáb'];\n    const MESES = ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'];\n    const fec = `${DIAS[d.getUTCDay()]} ${d.getUTCDate()} de ${MESES[d.getUTCMonth()]}`;\n    const hr = `${String(d.getUTCHours()).padStart(2,'0')}:${String(d.getUTCMinutes()).padStart(2,'0')}`;\n    const motivoTxt = motivo ? `\\n\\nMotivo: ${motivo}` : '';\n    const msgBody = `❌ *Tu turno fue cancelado*\\n\\n📅 ${fec}, ${hr} hs\\n👨‍⚕️ ${prof?.nombre || 'el profesional'}${motivoTxt}\\n\\nEscribinos para reagendar cuando quieras. 👋`;\n    await helpers.httpRequest({\n      method: 'POST',\n      url: `https://graph.facebook.com/v21.0/${PHONE_ID}/messages`,\n      headers: { Authorization: `Bearer ${WA_TOKEN}`, 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        messaging_product: 'whatsapp', to: paciente.telefono_wa, type: 'interactive',\n        interactive: {\n          type: 'cta_url', body: { text: msgBody },\n          action: { name: 'cta_url', parameters: { display_text: 'Reservar nuevo turno', url: WF08_BASE } }\n        }\n      })\n    });\n    wa_sent = true;\n  } catch(e) {}\n}\n\nreturn [{ json: { ok: true, wa_sent } }];"},"id":"code1","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,304]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"resp1","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[896,304]},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"}]}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"_wa_token","value":"={{ $env.META_WHATSAPP_TOKEN }}"},{"name":"_wf08_base","value":"={{ $env.WF08_WEBHOOK_BASE }}"}]}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"_wa_token","value":"={{ $env.META_WHATSAPP_TOKEN }}"},{"name":"_wf08_base","value":"={{ $env.WF08_WEBHOOK_BASE }}"}]}}},{"id":"set1","name":"Set Env Vars","type":"n8n-nodes-base.set","typeVersion":1,"position":[384,304],"parameters":{"keepAllValues":true,"values":{"string":[{"name":"_supa_url","value":"={{ $env.SUPABASE_URL }}"},{"name":"_supa_key","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"_wa_token","value":"={{ $env.META_WHATSAPP_TOKEN }}"},{"name":"_wf08_base","value":"={{ $env.WF08_WEBHOOK_BASE }}"}]}}}],"connections":{"Webhook":{"main":[[{"node":"Set Env Vars","type":"main","index":0}]]},"Code":{"main":[[{"node":"Respond","type":"main","index":0}]]},"Set Env Vars":{"main":[[{"node":"Code","type":"main","index":0}]]}},"authors":"Carlos Gonzalez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-22T23:02:26.422Z","id":245,"workflowId":"nUhfR1hALLBosDhr","versionId":"c5a6ea22-c786-4e87-87ce-5a39b6b35157","event":"activated","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805"},{"createdAt":"2026-04-22T23:02:26.569Z","id":246,"workflowId":"nUhfR1hALLBosDhr","versionId":"c5a6ea22-c786-4e87-87ce-5a39b6b35157","event":"deactivated","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805"},{"createdAt":"2026-04-22T23:02:27.699Z","id":247,"workflowId":"nUhfR1hALLBosDhr","versionId":"c5a6ea22-c786-4e87-87ce-5a39b6b35157","event":"activated","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805"}]}}