consultorio-kit/n8n/WF01-gateway-whatsapp.json
{"updatedAt":"2026-04-05T19:32:41.350Z","createdAt":"2026-04-05T03:03:33.842Z","id":"dVfZYeSsVigWd0cJ","name":"Consultorio - WF01 Gateway WhatsApp","description":null,"active":true,"isArchived":false,"nodes":[{"id":"c01-webhook-post","name":"1. Webhook Meta POST","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,300],"parameters":{"httpMethod":"POST","path":"whatsapp-gateway","responseMode":"responseNode","options":{"rawBody":true}},"webhookId":"3fb015ab-6b45-4b25-987a-3810f962b870"},{"id":"c01-webhook-get","name":"1b. Webhook Verify GET","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,540],"parameters":{"path":"whatsapp-gateway","httpMethod":"GET","responseMode":"responseNode","options":{}},"webhookId":"3b7e6203-ee8a-4cbd-9532-d6e125f276ae"},{"id":"c01-respond-200","name":"2. Respond 200 OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-560,200],"parameters":{"respondWith":"json","responseBody":"={\"status\":\"received\"}","options":{"responseCode":200}}},{"id":"c01-extraer","name":"3. Extraer Mensaje","type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,400],"parameters":{"jsCode":"// Extraer mensaje de WhatsApp Cloud API payload\nconst body = $input.first().json?.body || $input.first().json;\nconst entry = body?.entry?.[0];\nconst changes = entry?.changes?.[0];\nconst value = changes?.value;\n\n// Filtrar status updates (delivered, read, etc.)\nif (!value?.messages || value.messages.length === 0) {\n  return [{ json: { skip: true, reason: 'status_update' } }];\n}\n\nconst msg = value.messages[0];\nconst contact = value.contacts?.[0];\nconst msgType = msg.type;\n\n// Extraer contenido segun tipo\nlet textoMensaje = '';\nlet interactiveId = '';\nlet interactiveType = '';\n\nswitch (msgType) {\n  case 'text':\n    textoMensaje = msg.text?.body || '';\n    break;\n  case 'interactive':\n    if (msg.interactive?.button_reply) {\n      textoMensaje = msg.interactive.button_reply.title || '';\n      interactiveId = msg.interactive.button_reply.id || '';\n      interactiveType = 'button_reply';\n    } else if (msg.interactive?.list_reply) {\n      textoMensaje = msg.interactive.list_reply.title || '';\n      interactiveId = msg.interactive.list_reply.id || '';\n      interactiveType = 'list_reply';\n    }\n    break;\n  case 'button':\n    textoMensaje = msg.button?.text || '';\n    break;\n  case 'audio':\n  case 'image':\n  case 'video':\n  case 'document':\n    textoMensaje = '__MEDIA__';\n    break;\n  default:\n    textoMensaje = '__DESCONOCIDO__';\n}\n\n// Normalizar telefono argentino\nlet phone = msg.from;\nif (phone.startsWith('54') && !phone.startsWith('549') && phone.length === 12) {\n  phone = '549' + phone.substring(2);\n}\n\nreturn [{ json: {\n  messageId: msg.id,\n  timestamp: msg.timestamp,\n  phone: phone,\n  contactName: contact?.profile?.name || 'Desconocido',\n  msgType: msgType,\n  textoMensaje: textoMensaje,\n  interactiveId: interactiveId,\n  interactiveType: interactiveType,\n  skip: false\n} }];"}},{"id":"c01-verify-challenge","name":"2b. Verificar Challenge","type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,540],"parameters":{"jsCode":"const query = $input.first().json?.query || $input.first().json;\nconst mode = query?.['hub.mode'];\nconst token = query?.['hub.verify_token'];\nconst challenge = query?.['hub.challenge'];\n\n// Verificar token (usar el mismo que configures en Meta)\nconst VERIFY_TOKEN = 'consultorio_demo_2026';\n\nif (mode === 'subscribe' && token === VERIFY_TOKEN) {\n  return [{ json: { challenge: challenge } }];\n}\n\nreturn [{ json: { error: 'Verification failed' } }];"}},{"id":"c01-respond-challenge","name":"2c. Respond Challenge","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-320,540],"parameters":{"respondWith":"text","responseBody":"={{ $json.challenge }}","options":{"responseCode":200}}},{"id":"c01-filter-skip","name":"4. Filtrar Skip","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,400],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"skip-check","leftValue":"={{ $json.skip }}","rightValue":"","operator":{"type":"boolean","operation":"true","name":"filter.boolean.true","singleValue":true}}],"combinator":"and"},"options":{}}},{"id":"c01-leer-conversacion","name":"5. Leer/Crear Conversacion","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,400],"parameters":{"jsCode":"const SUPABASE_URL = $env.SUPABASE_URL;\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_KEY;\nconst phone = $input.first().json.phone;\n\n// Buscar conversacion existente\nlet conv = null;\ntry {\n  const res = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n    qs: { telefono_wa: `eq.${phone}`, limit: '1' },\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` }\n  });\n  conv = res?.[0] || null;\n} catch (err) {}\n\n// Si no existe, crear\nif (!conv) {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n      headers: {\n        'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json', 'Prefer': 'return=representation'\n      },\n      body: JSON.stringify({\n        telefono_wa: phone,\n        estado: 'inicio',\n        contexto: {},\n        handoff_humano: false\n      })\n    });\n    conv = res?.[0] || { estado: 'inicio', contexto: {}, handoff_humano: false };\n  } catch (err) {\n    conv = { estado: 'inicio', contexto: {}, handoff_humano: false };\n  }\n}\n\n// Verificar sesion expirada (30 min sin actividad)\nconst lastUpdate = new Date(conv.updated_at || 0);\nconst now = new Date();\nconst diffMin = (now - lastUpdate) / 1000 / 60;\n\nconst ESTADOS_SIN_RESET = ['adelanto_pendiente', 'respuesta_reminder'];\nif (diffMin > 30 && conv.estado !== 'inicio' && !conv.handoff_humano && !ESTADOS_SIN_RESET.includes(conv.estado)) {\n  // Reset sesion expirada\n  conv.estado = 'inicio';\n  conv.contexto = {};\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n      qs: { telefono_wa: `eq.${phone}` },\n      headers: {\n        'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify({ estado: 'inicio', contexto: {}, updated_at: now.toISOString() })\n    });\n  } catch (err) {}\n}\n\n// Merge datos del mensaje con la conversacion\nconst msgData = $input.first().json;\nreturn [{ json: {\n  ...msgData,\n  convEstado: conv.estado,\n  convContexto: conv.contexto || {},\n  convHandoff: conv.handoff_humano || false,\n  convId: conv.id\n} }];"}},{"id":"c01-switch-handoff","name":"6. Rutear Bot o Handoff","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,400],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"handoff-check","leftValue":"={{ $json.convHandoff }}","rightValue":"","operator":{"type":"boolean","operation":"true","name":"filter.boolean.true","singleValue":true}}],"combinator":"and"},"options":{}}},{"id":"c01-to-bot","name":"7a. Ejecutar Bot","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[400,340],"parameters":{"workflowId":{"__rl":true,"value":"la5XjIMeKIMoTa0q","mode":"id"},"options":{}}},{"id":"c01-to-handoff","name":"7b. Reenviar a Telegram","type":"n8n-nodes-base.code","typeVersion":2,"parameters":{"jsCode":"// Reenviar mensaje del paciente a Telegram (handoff activo)\n// + Enviar handoffResumen la primera vez con contexto completo\nconst helpers = this.helpers;\nconst SUPABASE_URL = $env.SUPABASE_URL;\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_KEY;\nconst TELEGRAM_TOKEN = $env.TELEGRAM_BOT_TOKEN || '';\nconst TELEGRAM_CHAT = '6343825256';\n\nif (!TELEGRAM_TOKEN) {\n  return [{ json: { action: 'telegram_not_configured' } }];\n}\n\nconst data = $input.first().json;\nconst ctx = data.convContexto || {};\nconst nombre = ctx.pacienteNombre || data.contactName || 'Paciente';\nconst texto = data.textoMensaje || '[sin texto]';\n\nasync function sendTG(text) {\n  await helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${TELEGRAM_TOKEN}/sendMessage`,\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ chat_id: TELEGRAM_CHAT, text, parse_mode: 'HTML' })\n  });\n}\n\ntry {\n  // Si hay handoffResumen, enviar contexto primero (solo la primera vez)\n  if (ctx.handoffResumen) {\n    await sendTG(ctx.handoffResumen);\n    // Limpiar resumen para no repetirlo\n    const newCtx = { ...ctx, handoffResumen: undefined };\n    await helpers.httpRequest({\n      method: 'PATCH',\n      url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n      qs: { telefono_wa: `eq.${data.phone}` },\n      headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ contexto: newCtx, updated_at: new Date().toISOString() })\n    });\n  }\n\n  // Reenviar mensaje del paciente\n  await sendTG(`\\ud83d\\udce9 <b>${nombre}</b>:\\n${texto}`);\n} catch(e) {}\n\nreturn [{ json: { action: 'forwarded_to_telegram', phone: data.phone } }];"},"position":[400,500]},{"id":"c01-rutear-adelanto","name":"6b. Rutear Adelanto","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,480],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"adelanto-check","leftValue":"={{ $json.convEstado }}","rightValue":"adelanto_pendiente","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}}},{"id":"c01-to-adelanto","name":"7c. Ejecutar Adelanto","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[640,400],"parameters":{"workflowId":{"__rl":true,"value":"ADELANTO_2_ID_PLACEHOLDER","mode":"id"},"options":{"waitForSubWorkflow":false}}}],"connections":{"1. Webhook Meta POST":{"main":[[{"node":"2. Respond 200 OK","type":"main","index":0},{"node":"3. Extraer Mensaje","type":"main","index":0}]]},"1b. Webhook Verify GET":{"main":[[{"node":"2b. Verificar Challenge","type":"main","index":0}]]},"2b. Verificar Challenge":{"main":[[{"node":"2c. Respond Challenge","type":"main","index":0}]]},"3. Extraer Mensaje":{"main":[[{"node":"4. Filtrar Skip","type":"main","index":0}]]},"4. Filtrar Skip":{"main":[[],[{"node":"5. Leer/Crear Conversacion","type":"main","index":0}]]},"5. Leer/Crear Conversacion":{"main":[[{"node":"6. Rutear Bot o Handoff","type":"main","index":0}]]},"6. Rutear Bot o Handoff":{"main":[[{"node":"7b. Reenviar a Telegram","type":"main","index":0}],[{"node":"6b. Rutear Adelanto","type":"main","index":0}]]},"6b. Rutear Adelanto":{"main":[[{"node":"7c. Ejecutar Adelanto","type":"main","index":0}],[{"node":"7a. Ejecutar Bot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"fa2d2eed-b088-4716-ba5c-d9c4fed39a77","activeVersionId":"fa2d2eed-b088-4716-ba5c-d9c4fed39a77","versionCounter":20,"triggerCount":2,"shared":[{"updatedAt":"2026-04-05T03:03:33.842Z","createdAt":"2026-04-05T03:03:33.842Z","role":"workflow:owner","workflowId":"dVfZYeSsVigWd0cJ","projectId":"Gc8KdOrt5WcC0jQ7","project":{"updatedAt":"2026-03-03T03:56:33.366Z","createdAt":"2026-03-03T03:50:22.655Z","id":"Gc8KdOrt5WcC0jQ7","name":"Carlos Gonzalez <cgonzalezarchilla@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"606822e1-c1a1-4b8e-bb98-c635d3a41805","projectRelations":[{"updatedAt":"2026-03-03T03:50:22.655Z","createdAt":"2026-03-03T03:50:22.655Z","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805","projectId":"Gc8KdOrt5WcC0jQ7","user":{"updatedAt":"2026-05-05T18:21:47.002Z","createdAt":"2026-03-03T03:50:22.256Z","id":"606822e1-c1a1-4b8e-bb98-c635d3a41805","email":"cgonzalezarchilla@gmail.com","firstName":"Carlos","lastName":"Gonzalez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-03-03T03:56:31.369Z","personalization_survey_n8n_version":"2.4.7"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"0X5Abkk-rKt5VX1dzIKGM","userActivatedAt":1772563552032,"npsSurvey":{"responded":true,"lastShownAt":1773760612644}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-05-05","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-05T19:32:41.352Z","createdAt":"2026-04-05T19:32:41.352Z","versionId":"fa2d2eed-b088-4716-ba5c-d9c4fed39a77","workflowId":"dVfZYeSsVigWd0cJ","nodes":[{"id":"c01-webhook-post","name":"1. Webhook Meta POST","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,300],"parameters":{"httpMethod":"POST","path":"whatsapp-gateway","responseMode":"responseNode","options":{"rawBody":true}},"webhookId":"3fb015ab-6b45-4b25-987a-3810f962b870"},{"id":"c01-webhook-get","name":"1b. Webhook Verify GET","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,540],"parameters":{"path":"whatsapp-gateway","httpMethod":"GET","responseMode":"responseNode","options":{}},"webhookId":"3b7e6203-ee8a-4cbd-9532-d6e125f276ae"},{"id":"c01-respond-200","name":"2. Respond 200 OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-560,200],"parameters":{"respondWith":"json","responseBody":"={\"status\":\"received\"}","options":{"responseCode":200}}},{"id":"c01-extraer","name":"3. Extraer Mensaje","type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,400],"parameters":{"jsCode":"// Extraer mensaje de WhatsApp Cloud API payload\nconst body = $input.first().json?.body || $input.first().json;\nconst entry = body?.entry?.[0];\nconst changes = entry?.changes?.[0];\nconst value = changes?.value;\n\n// Filtrar status updates (delivered, read, etc.)\nif (!value?.messages || value.messages.length === 0) {\n  return [{ json: { skip: true, reason: 'status_update' } }];\n}\n\nconst msg = value.messages[0];\nconst contact = value.contacts?.[0];\nconst msgType = msg.type;\n\n// Extraer contenido segun tipo\nlet textoMensaje = '';\nlet interactiveId = '';\nlet interactiveType = '';\n\nswitch (msgType) {\n  case 'text':\n    textoMensaje = msg.text?.body || '';\n    break;\n  case 'interactive':\n    if (msg.interactive?.button_reply) {\n      textoMensaje = msg.interactive.button_reply.title || '';\n      interactiveId = msg.interactive.button_reply.id || '';\n      interactiveType = 'button_reply';\n    } else if (msg.interactive?.list_reply) {\n      textoMensaje = msg.interactive.list_reply.title || '';\n      interactiveId = msg.interactive.list_reply.id || '';\n      interactiveType = 'list_reply';\n    }\n    break;\n  case 'button':\n    textoMensaje = msg.button?.text || '';\n    break;\n  case 'audio':\n  case 'image':\n  case 'video':\n  case 'document':\n    textoMensaje = '__MEDIA__';\n    break;\n  default:\n    textoMensaje = '__DESCONOCIDO__';\n}\n\n// Normalizar telefono argentino\nlet phone = msg.from;\nif (phone.startsWith('54') && !phone.startsWith('549') && phone.length === 12) {\n  phone = '549' + phone.substring(2);\n}\n\nreturn [{ json: {\n  messageId: msg.id,\n  timestamp: msg.timestamp,\n  phone: phone,\n  contactName: contact?.profile?.name || 'Desconocido',\n  msgType: msgType,\n  textoMensaje: textoMensaje,\n  interactiveId: interactiveId,\n  interactiveType: interactiveType,\n  skip: false\n} }];"}},{"id":"c01-verify-challenge","name":"2b. Verificar Challenge","type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,540],"parameters":{"jsCode":"const query = $input.first().json?.query || $input.first().json;\nconst mode = query?.['hub.mode'];\nconst token = query?.['hub.verify_token'];\nconst challenge = query?.['hub.challenge'];\n\n// Verificar token (usar el mismo que configures en Meta)\nconst VERIFY_TOKEN = 'consultorio_demo_2026';\n\nif (mode === 'subscribe' && token === VERIFY_TOKEN) {\n  return [{ json: { challenge: challenge } }];\n}\n\nreturn [{ json: { error: 'Verification failed' } }];"}},{"id":"c01-respond-challenge","name":"2c. Respond Challenge","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-320,540],"parameters":{"respondWith":"text","responseBody":"={{ $json.challenge }}","options":{"responseCode":200}}},{"id":"c01-filter-skip","name":"4. Filtrar Skip","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,400],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"skip-check","leftValue":"={{ $json.skip }}","rightValue":"","operator":{"type":"boolean","operation":"true","name":"filter.boolean.true","singleValue":true}}],"combinator":"and"},"options":{}}},{"id":"c01-leer-conversacion","name":"5. Leer/Crear Conversacion","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,400],"parameters":{"jsCode":"const SUPABASE_URL = $env.SUPABASE_URL;\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_KEY;\nconst phone = $input.first().json.phone;\n\n// Buscar conversacion existente\nlet conv = null;\ntry {\n  const res = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n    qs: { telefono_wa: `eq.${phone}`, limit: '1' },\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` }\n  });\n  conv = res?.[0] || null;\n} catch (err) {}\n\n// Si no existe, crear\nif (!conv) {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n      headers: {\n        'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json', 'Prefer': 'return=representation'\n      },\n      body: JSON.stringify({\n        telefono_wa: phone,\n        estado: 'inicio',\n        contexto: {},\n        handoff_humano: false\n      })\n    });\n    conv = res?.[0] || { estado: 'inicio', contexto: {}, handoff_humano: false };\n  } catch (err) {\n    conv = { estado: 'inicio', contexto: {}, handoff_humano: false };\n  }\n}\n\n// Verificar sesion expirada (30 min sin actividad)\nconst lastUpdate = new Date(conv.updated_at || 0);\nconst now = new Date();\nconst diffMin = (now - lastUpdate) / 1000 / 60;\n\nconst ESTADOS_SIN_RESET = ['adelanto_pendiente', 'respuesta_reminder'];\nif (diffMin > 30 && conv.estado !== 'inicio' && !conv.handoff_humano && !ESTADOS_SIN_RESET.includes(conv.estado)) {\n  // Reset sesion expirada\n  conv.estado = 'inicio';\n  conv.contexto = {};\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n      qs: { telefono_wa: `eq.${phone}` },\n      headers: {\n        'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify({ estado: 'inicio', contexto: {}, updated_at: now.toISOString() })\n    });\n  } catch (err) {}\n}\n\n// Merge datos del mensaje con la conversacion\nconst msgData = $input.first().json;\nreturn [{ json: {\n  ...msgData,\n  convEstado: conv.estado,\n  convContexto: conv.contexto || {},\n  convHandoff: conv.handoff_humano || false,\n  convId: conv.id\n} }];"}},{"id":"c01-switch-handoff","name":"6. Rutear Bot o Handoff","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,400],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"handoff-check","leftValue":"={{ $json.convHandoff }}","rightValue":"","operator":{"type":"boolean","operation":"true","name":"filter.boolean.true","singleValue":true}}],"combinator":"and"},"options":{}}},{"id":"c01-to-bot","name":"7a. Ejecutar Bot","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[400,340],"parameters":{"workflowId":{"__rl":true,"value":"la5XjIMeKIMoTa0q","mode":"id"},"options":{}}},{"id":"c01-to-handoff","name":"7b. Reenviar a Telegram","type":"n8n-nodes-base.code","typeVersion":2,"parameters":{"jsCode":"// Reenviar mensaje del paciente a Telegram (handoff activo)\n// + Enviar handoffResumen la primera vez con contexto completo\nconst helpers = this.helpers;\nconst SUPABASE_URL = $env.SUPABASE_URL;\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_KEY;\nconst TELEGRAM_TOKEN = $env.TELEGRAM_BOT_TOKEN || '';\nconst TELEGRAM_CHAT = '6343825256';\n\nif (!TELEGRAM_TOKEN) {\n  return [{ json: { action: 'telegram_not_configured' } }];\n}\n\nconst data = $input.first().json;\nconst ctx = data.convContexto || {};\nconst nombre = ctx.pacienteNombre || data.contactName || 'Paciente';\nconst texto = data.textoMensaje || '[sin texto]';\n\nasync function sendTG(text) {\n  await helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${TELEGRAM_TOKEN}/sendMessage`,\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ chat_id: TELEGRAM_CHAT, text, parse_mode: 'HTML' })\n  });\n}\n\ntry {\n  // Si hay handoffResumen, enviar contexto primero (solo la primera vez)\n  if (ctx.handoffResumen) {\n    await sendTG(ctx.handoffResumen);\n    // Limpiar resumen para no repetirlo\n    const newCtx = { ...ctx, handoffResumen: undefined };\n    await helpers.httpRequest({\n      method: 'PATCH',\n      url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n      qs: { telefono_wa: `eq.${data.phone}` },\n      headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ contexto: newCtx, updated_at: new Date().toISOString() })\n    });\n  }\n\n  // Reenviar mensaje del paciente\n  await sendTG(`\\ud83d\\udce9 <b>${nombre}</b>:\\n${texto}`);\n} catch(e) {}\n\nreturn [{ json: { action: 'forwarded_to_telegram', phone: data.phone } }];"},"position":[400,500]},{"id":"c01-rutear-adelanto","name":"6b. Rutear Adelanto","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,480],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"adelanto-check","leftValue":"={{ $json.convEstado }}","rightValue":"adelanto_pendiente","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}}},{"id":"c01-to-adelanto","name":"7c. Ejecutar Adelanto","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[640,400],"parameters":{"workflowId":{"__rl":true,"value":"ADELANTO_2_ID_PLACEHOLDER","mode":"id"},"options":{"waitForSubWorkflow":false}}}],"connections":{"1. Webhook Meta POST":{"main":[[{"node":"2. Respond 200 OK","type":"main","index":0},{"node":"3. Extraer Mensaje","type":"main","index":0}]]},"1b. Webhook Verify GET":{"main":[[{"node":"2b. Verificar Challenge","type":"main","index":0}]]},"2b. Verificar Challenge":{"main":[[{"node":"2c. Respond Challenge","type":"main","index":0}]]},"3. Extraer Mensaje":{"main":[[{"node":"4. Filtrar Skip","type":"main","index":0}]]},"4. Filtrar Skip":{"main":[[],[{"node":"5. Leer/Crear Conversacion","type":"main","index":0}]]},"5. Leer/Crear Conversacion":{"main":[[{"node":"6. Rutear Bot o Handoff","type":"main","index":0}]]},"6. Rutear Bot o Handoff":{"main":[[{"node":"7b. Reenviar a Telegram","type":"main","index":0}],[{"node":"6b. Rutear Adelanto","type":"main","index":0}]]},"6b. Rutear Adelanto":{"main":[[{"node":"7c. Ejecutar Adelanto","type":"main","index":0}],[{"node":"7a. Ejecutar Bot","type":"main","index":0}]]}},"authors":"Carlos Gonzalez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-05T19:32:41.564Z","id":155,"workflowId":"dVfZYeSsVigWd0cJ","versionId":"fa2d2eed-b088-4716-ba5c-d9c4fed39a77","event":"activated","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805"}]}}