consultorio-kit/n8n/WF04-checkin-web.json
{"updatedAt":"2026-04-07T01:37:58.505Z","createdAt":"2026-04-05T03:46:29.628Z","id":"wzVvzt9Be1IOKOPd","name":"Consultorio - WF04 Check-in Web","description":null,"active":true,"isArchived":false,"nodes":[{"id":"c04-webhook","name":"Webhook Check-in","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,300],"parameters":{"httpMethod":"GET","path":"consultorio-checkin","responseMode":"responseNode","options":{}},"webhookId":"4ddcc0ca-40ce-4528-8340-ee4e12830e4b"},{"id":"c04-logic","name":"Procesar Check-in","type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,300],"parameters":{"jsCode":"// ============================================================\n// WF-04: CHECK-IN WEB\n// Webhook GET que sirve HTML mobile-first\n// ============================================================\n\nconst helpers = this.helpers;\nconst SUPABASE_URL = $env.SUPABASE_URL;\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_KEY;\nconst WA_TOKEN = $env.META_WHATSAPP_TOKEN;\nconst PHONE_ID = '963190063548521';\nconst TELEGRAM_TOKEN = $env.TELEGRAM_BOT_TOKEN || '';\nconst TELEGRAM_CHAT = $env.TELEGRAM_CHAT_ID || '';\n\nfunction argDate(d) { return new Date(d.getTime() - 3*60*60*1000); }\nconst DIAS = ['Dom','Lun','Mar','Mi\\u00e9','Jue','Vie','S\\u00e1b'];\nconst MESES = ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'];\nfunction fmtLarga(d) { return `${DIAS[d.getUTCDay()]} ${d.getUTCDate()} de ${MESES[d.getUTCMonth()]}`; }\nfunction fmtHora(d) { return `${String(d.getUTCHours()).padStart(2,'0')}:${String(d.getUTCMinutes()).padStart(2,'0')}`; }\n\nasync function supaGet(table, params) {\n  try { return await helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/${table}`, qs: params, headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` } }); }\n  catch (e) { return []; }\n}\nasync function supaUpdate(table, filters, data) {\n  try { await helpers.httpRequest({ method: 'PATCH', url: `${SUPABASE_URL}/rest/v1/${table}`, qs: filters, headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' }, body: JSON.stringify({ ...data, updated_at: new Date().toISOString() }) }); }\n  catch (e) {}\n}\n\nconst token = $input.first().json?.query?.token || '';\nconst action = $input.first().json?.query?.action || '';\n\n// CSS compartido\nconst CSS = `\n  * { margin:0; padding:0; box-sizing:border-box; }\n  body { font-family: system-ui,-apple-system,sans-serif; background:#F8FAFC; color:#1E293B; min-height:100vh; display:flex; justify-content:center; align-items:center; padding:16px; }\n  .card { background:#fff; border-radius:16px; box-shadow:0 4px 24px rgba(0,0,0,0.08); padding:32px 24px; max-width:400px; width:100%; text-align:center; }\n  .logo { font-size:24px; font-weight:700; color:#2563EB; margin-bottom:4px; }\n  .subtitle { color:#64748B; font-size:14px; margin-bottom:24px; }\n  .divider { height:1px; background:#E2E8F0; margin:20px 0; }\n  .greeting { font-size:20px; font-weight:600; margin-bottom:16px; }\n  .info-box { background:#F1F5F9; border-radius:12px; padding:16px; text-align:left; margin-bottom:20px; }\n  .info-row { display:flex; align-items:center; gap:8px; margin-bottom:8px; font-size:15px; }\n  .info-row:last-child { margin-bottom:0; }\n  .btn { display:block; width:100%; padding:16px; border:none; border-radius:12px; font-size:17px; font-weight:600; cursor:pointer; transition:all 0.2s; }\n  .btn-primary { background:#2563EB; color:#fff; }\n  .btn-primary:hover { background:#1D4ED8; }\n  .btn-primary:disabled { background:#94A3B8; cursor:not-allowed; }\n  .btn-success { background:#10B981; color:#fff; }\n  .success-icon { font-size:48px; margin-bottom:12px; }\n  .step-box { background:#EFF6FF; border:1px solid #BFDBFE; border-radius:12px; padding:16px; text-align:left; margin:16px 0; font-size:14px; line-height:1.6; }\n  .stats { display:flex; justify-content:space-around; margin-top:16px; }\n  .stat { text-align:center; }\n  .stat-value { font-size:20px; font-weight:700; color:#2563EB; }\n  .stat-label { font-size:12px; color:#64748B; }\n  .error-icon { font-size:48px; margin-bottom:12px; }\n  .error-text { color:#EF4444; font-weight:600; margin-bottom:8px; }\n`;\n\nfunction htmlPage(title, body) {\n  return `<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>${title}</title><style>${CSS}</style></head><body>${body}</body></html>`;\n}\n\n// Sin token\nif (!token) {\n  return [{ json: { html: htmlPage('Error', '<div class=\"card\"><div class=\"error-icon\">\\u274c</div><div class=\"error-text\">Link inv\\u00e1lido</div><p>Este link no es v\\u00e1lido. Ped\\u00ed un nuevo link de check-in por WhatsApp.</p></div>') } }];\n}\n\n// Buscar turno\nconst turnos = await supaGet('consultorio_turnos', { check_in_token: `eq.${token}`, select: 'id,fecha_hora,estado,tipo_pago,check_in_at,paciente_id,profesional_id' });\nconst turno = turnos?.[0];\n\nif (!turno) {\n  return [{ json: { html: htmlPage('No encontrado', '<div class=\"card\"><div class=\"error-icon\">\\u274c</div><div class=\"error-text\">Link inv\\u00e1lido</div><p>No encontramos un turno asociado a este link.</p></div>') } }];\n}\n\n// Turno cancelado\nif (['cancelado','auto_cancelado'].includes(turno.estado)) {\n  return [{ json: { html: htmlPage('Cancelado', '<div class=\"card\"><div class=\"error-icon\">\\u274c</div><div class=\"error-text\">Turno cancelado</div><p>Este turno fue cancelado. Pod\\u00e9s agendar uno nuevo por WhatsApp.</p></div>') } }];\n}\n\n// Turno ya paso\nconst turnoDate = new Date(turno.fecha_hora);\nif (turnoDate.getTime() < Date.now() - 2*60*60*1000) {\n  return [{ json: { html: htmlPage('Vencido', '<div class=\"card\"><div class=\"error-icon\">\\u23f0</div><div class=\"error-text\">Link vencido</div><p>El turno asociado ya pas\\u00f3. Pod\\u00e9s agendar uno nuevo por WhatsApp.</p></div>') } }];\n}\n\nconst pac = await supaGet('consultorio_pacientes', { id: `eq.${turno.paciente_id}`, select: 'nombre,dni,obra_social' });\nconst prof = await supaGet('consultorio_profesionales', { id: `eq.${turno.profesional_id}`, select: 'nombre,especialidad,consultorio' });\nconst nombre = pac?.[0]?.nombre || 'Paciente';\nconst primerNombre = nombre.split(' ')[0];\nconst d = argDate(turnoDate);\n\n// === PROCESAR CHECK-IN ===\nif (action === 'checkin' && !turno.check_in_at) {\n  await supaUpdate('consultorio_turnos', { id: `eq.${turno.id}` }, { estado: 'presente', check_in_at: new Date().toISOString() });\n  \n  // Contar pacientes antes\n  const antes = await supaGet('consultorio_turnos', { profesional_id: `eq.${turno.profesional_id}`, estado: 'eq.presente', select: 'check_in_at', order: 'check_in_at.asc' });\n  const orden = (antes?.length || 1);\n  const pacAntes = Math.max(0, orden - 1);\n  const tiempoEst = pacAntes * (prof?.[0]?.duracion_turno_min || 15);\n  const numOrden = String(orden).padStart(4, '0');\n  \n  // Notificar a recepcion por Telegram\n  if (TELEGRAM_TOKEN && TELEGRAM_CHAT) {\n    const tipoMsg = turno.tipo_pago === 'obra_social' ? `OS: ${pac[0]?.obra_social || '?'} \\u2014 Verificar credencial + DNI + coseguro` : `Particular \\u2014 Cobrar consulta $45.000`;\n    const tgMsg = `\\ud83d\\udd14 NUEVO CHECK-IN\\n\\nPaciente: ${nombre}\\nDNI: ${pac[0]?.dni || '?'}\\nTurno: ${fmtHora(d)} hs \\u2014 ${prof[0]?.nombre || '?'} (${prof[0]?.especialidad || '?'})\\nTipo: ${tipoMsg}\\nLlegada: ${fmtHora(argDate(new Date()))} hs\\nOrden: #${numOrden}`;\n    try {\n      await helpers.httpRequest({ method: 'POST', url: `https://api.telegram.org/bot${TELEGRAM_TOKEN}/sendMessage`, headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ chat_id: TELEGRAM_CHAT, text: tgMsg }) });\n    } catch (e) {}\n  }\n  \n  const instruccion = turno.tipo_pago === 'obra_social'\n    ? `Acercate a recepci\\u00f3n con tu credencial de ${pac[0]?.obra_social || 'obra social'} y DNI para el coseguro.`\n    : 'Acercate a recepci\\u00f3n para abonar la consulta ($45.000).';\n  \n  const successHtml = `\n    <div class=\"card\">\n      <div class=\"success-icon\">\\u2705</div>\n      <div class=\"greeting\">CHECK-IN COMPLETADO</div>\n      <p style=\"color:#64748B;margin-bottom:16px\">${primerNombre}, recepci\\u00f3n ya sabe que llegaste.</p>\n      <div class=\"step-box\">\n        \\ud83d\\udccb <strong>Pr\\u00f3ximo paso:</strong><br>\n        ${instruccion}<br><br>\n        Despu\\u00e9s pas\\u00e1 a sala de espera, Piso 1.\n      </div>\n      <div class=\"stats\">\n        <div class=\"stat\"><div class=\"stat-value\">#${numOrden}</div><div class=\"stat-label\">Tu orden</div></div>\n        <div class=\"stat\"><div class=\"stat-value\">${pacAntes}</div><div class=\"stat-label\">Antes que vos</div></div>\n        <div class=\"stat\"><div class=\"stat-value\">~${tiempoEst}m</div><div class=\"stat-label\">Estimado</div></div>\n      </div>\n    </div>`;\n  \n  return [{ json: { html: htmlPage('Check-in OK', successHtml) } }];\n}\n\n// === YA HIZO CHECK-IN ===\nif (turno.check_in_at) {\n  const antes = await supaGet('consultorio_turnos', { profesional_id: `eq.${turno.profesional_id}`, estado: 'eq.presente', select: 'check_in_at', order: 'check_in_at.asc' });\n  let miPos = 0; for (let i=0;i<(antes?.length||0);i++) { if (new Date(antes[i].check_in_at) <= new Date(turno.check_in_at)) miPos = i+1; }\n  const pacAntes = Math.max(0, miPos - 1);\n  const tiempoEst = pacAntes * (prof?.[0]?.duracion_turno_min || 15);\n  \n  return [{ json: { html: htmlPage('Ya check-in', `\n    <div class=\"card\">\n      <div class=\"success-icon\">\\u2705</div>\n      <div class=\"greeting\">Ya hiciste check-in</div>\n      <div class=\"info-box\">\n        <div class=\"info-row\">\\ud83d\\udcc5 ${fmtHora(d)} hs \\u2014 ${prof[0]?.nombre || '?'}</div>\n        <div class=\"info-row\">\\ud83c\\udfe0 ${prof[0]?.consultorio || ''}, Piso 1</div>\n      </div>\n      <div class=\"stats\">\n        <div class=\"stat\"><div class=\"stat-value\">${pacAntes}</div><div class=\"stat-label\">Antes que vos</div></div>\n        <div class=\"stat\"><div class=\"stat-value\">~${tiempoEst}m</div><div class=\"stat-label\">Estimado</div></div>\n      </div>\n    </div>`) } }];\n}\n\n// === MOSTRAR PAGINA DE CHECK-IN ===\nconst N8N_URL = $input.first().json?.headers?.host ? `https://${$input.first().json.headers.host}` : N8N_BASE_URL;\nconst checkinAction = `${N8N_URL}/webhook/consultorio-checkin?token=${token}&action=checkin`;\n\nconst mainHtml = `\n  <div class=\"card\">\n    <div class=\"logo\">\\ud83c\\udfe5 POLICONSULTORIO RIVADAVIA</div>\n    <div class=\"subtitle\">Check-in digital</div>\n    <div class=\"divider\"></div>\n    <div class=\"greeting\">Hola ${primerNombre}!</div>\n    <p style=\"color:#64748B;margin-bottom:20px\">Tu turno de hoy:</p>\n    <div class=\"info-box\">\n      <div class=\"info-row\">\\ud83d\\udcc5 ${fmtLarga(d)}, ${fmtHora(d)} hs</div>\n      <div class=\"info-row\">\\ud83d\\udc68\\u200d\\u2695\\ufe0f ${prof[0]?.nombre || '?'} \\u2014 ${prof[0]?.especialidad || '?'}</div>\n      <div class=\"info-row\">\\ud83c\\udfe0 ${prof[0]?.consultorio || ''}, Piso 1</div>\n    </div>\n    <button class=\"btn btn-primary\" id=\"checkinBtn\" onclick=\"doCheckin()\">\\u2705 YA LLEGU\\u00c9</button>\n    <p style=\"color:#94A3B8;font-size:12px;margin-top:16px\">Av. Rivadavia 4520, Caballito, CABA</p>\n  </div>\n  <script>\n    async function doCheckin() {\n      const btn = document.getElementById('checkinBtn');\n      btn.disabled = true; btn.textContent = 'Procesando...';\n      try {\n        const r = await fetch('${checkinAction}');\n        const html = await r.text();\n        document.body.innerHTML = html.match(/<body>(.*)<\\\\/body>/s)?.[1] || html;\n      } catch(e) {\n        btn.textContent = 'Error, intent\\u00e1 de nuevo';\n        btn.disabled = false;\n      }\n    }\n  </script>`;\n\nreturn [{ json: { html: htmlPage('Check-in', mainHtml) } }];"}},{"id":"c04-respond","name":"Respond HTML","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[80,300],"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"}]}}}}],"connections":{"Webhook Check-in":{"main":[[{"node":"Procesar Check-in","type":"main","index":0}]]},"Procesar Check-in":{"main":[[{"node":"Respond HTML","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"4645fbf0-1a0c-4f71-8e2e-220938f15b46","activeVersionId":"4645fbf0-1a0c-4f71-8e2e-220938f15b46","versionCounter":19,"triggerCount":1,"shared":[{"updatedAt":"2026-04-05T03:46:29.628Z","createdAt":"2026-04-05T03:46:29.628Z","role":"workflow:owner","workflowId":"wzVvzt9Be1IOKOPd","projectId":"Gc8KdOrt5WcC0jQ7","project":{"updatedAt":"2026-03-03T03:56:33.366Z","createdAt":"2026-03-03T03:50:22.655Z","id":"Gc8KdOrt5WcC0jQ7","name":"Carlos Gonzalez <cgonzalezarchilla@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"606822e1-c1a1-4b8e-bb98-c635d3a41805","projectRelations":[{"updatedAt":"2026-03-03T03:50:22.655Z","createdAt":"2026-03-03T03:50:22.655Z","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805","projectId":"Gc8KdOrt5WcC0jQ7","user":{"updatedAt":"2026-05-05T18:21:47.002Z","createdAt":"2026-03-03T03:50:22.256Z","id":"606822e1-c1a1-4b8e-bb98-c635d3a41805","email":"cgonzalezarchilla@gmail.com","firstName":"Carlos","lastName":"Gonzalez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-03-03T03:56:31.369Z","personalization_survey_n8n_version":"2.4.7"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"0X5Abkk-rKt5VX1dzIKGM","userActivatedAt":1772563552032,"npsSurvey":{"responded":true,"lastShownAt":1773760612644}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-05-05","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-05T04:03:28.614Z","createdAt":"2026-04-05T04:03:28.614Z","versionId":"4645fbf0-1a0c-4f71-8e2e-220938f15b46","workflowId":"wzVvzt9Be1IOKOPd","nodes":[{"id":"c04-webhook","name":"Webhook Check-in","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,300],"parameters":{"httpMethod":"GET","path":"consultorio-checkin","responseMode":"responseNode","options":{}},"webhookId":"4ddcc0ca-40ce-4528-8340-ee4e12830e4b"},{"id":"c04-logic","name":"Procesar Check-in","type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,300],"parameters":{"jsCode":"// ============================================================\n// WF-04: CHECK-IN WEB\n// Webhook GET que sirve HTML mobile-first\n// ============================================================\n\nconst helpers = this.helpers;\nconst SUPABASE_URL = $env.SUPABASE_URL;\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_KEY;\nconst WA_TOKEN = $env.META_WHATSAPP_TOKEN;\nconst PHONE_ID = '963190063548521';\nconst TELEGRAM_TOKEN = $env.TELEGRAM_BOT_TOKEN || '';\nconst TELEGRAM_CHAT = $env.TELEGRAM_CHAT_ID || '';\n\nfunction argDate(d) { return new Date(d.getTime() - 3*60*60*1000); }\nconst DIAS = ['Dom','Lun','Mar','Mi\\u00e9','Jue','Vie','S\\u00e1b'];\nconst MESES = ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'];\nfunction fmtLarga(d) { return `${DIAS[d.getUTCDay()]} ${d.getUTCDate()} de ${MESES[d.getUTCMonth()]}`; }\nfunction fmtHora(d) { return `${String(d.getUTCHours()).padStart(2,'0')}:${String(d.getUTCMinutes()).padStart(2,'0')}`; }\n\nasync function supaGet(table, params) {\n  try { return await helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/${table}`, qs: params, headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` } }); }\n  catch (e) { return []; }\n}\nasync function supaUpdate(table, filters, data) {\n  try { await helpers.httpRequest({ method: 'PATCH', url: `${SUPABASE_URL}/rest/v1/${table}`, qs: filters, headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' }, body: JSON.stringify({ ...data, updated_at: new Date().toISOString() }) }); }\n  catch (e) {}\n}\n\nconst token = $input.first().json?.query?.token || '';\nconst action = $input.first().json?.query?.action || '';\n\n// CSS compartido\nconst CSS = `\n  * { margin:0; padding:0; box-sizing:border-box; }\n  body { font-family: system-ui,-apple-system,sans-serif; background:#F8FAFC; color:#1E293B; min-height:100vh; display:flex; justify-content:center; align-items:center; padding:16px; }\n  .card { background:#fff; border-radius:16px; box-shadow:0 4px 24px rgba(0,0,0,0.08); padding:32px 24px; max-width:400px; width:100%; text-align:center; }\n  .logo { font-size:24px; font-weight:700; color:#2563EB; margin-bottom:4px; }\n  .subtitle { color:#64748B; font-size:14px; margin-bottom:24px; }\n  .divider { height:1px; background:#E2E8F0; margin:20px 0; }\n  .greeting { font-size:20px; font-weight:600; margin-bottom:16px; }\n  .info-box { background:#F1F5F9; border-radius:12px; padding:16px; text-align:left; margin-bottom:20px; }\n  .info-row { display:flex; align-items:center; gap:8px; margin-bottom:8px; font-size:15px; }\n  .info-row:last-child { margin-bottom:0; }\n  .btn { display:block; width:100%; padding:16px; border:none; border-radius:12px; font-size:17px; font-weight:600; cursor:pointer; transition:all 0.2s; }\n  .btn-primary { background:#2563EB; color:#fff; }\n  .btn-primary:hover { background:#1D4ED8; }\n  .btn-primary:disabled { background:#94A3B8; cursor:not-allowed; }\n  .btn-success { background:#10B981; color:#fff; }\n  .success-icon { font-size:48px; margin-bottom:12px; }\n  .step-box { background:#EFF6FF; border:1px solid #BFDBFE; border-radius:12px; padding:16px; text-align:left; margin:16px 0; font-size:14px; line-height:1.6; }\n  .stats { display:flex; justify-content:space-around; margin-top:16px; }\n  .stat { text-align:center; }\n  .stat-value { font-size:20px; font-weight:700; color:#2563EB; }\n  .stat-label { font-size:12px; color:#64748B; }\n  .error-icon { font-size:48px; margin-bottom:12px; }\n  .error-text { color:#EF4444; font-weight:600; margin-bottom:8px; }\n`;\n\nfunction htmlPage(title, body) {\n  return `<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>${title}</title><style>${CSS}</style></head><body>${body}</body></html>`;\n}\n\n// Sin token\nif (!token) {\n  return [{ json: { html: htmlPage('Error', '<div class=\"card\"><div class=\"error-icon\">\\u274c</div><div class=\"error-text\">Link inv\\u00e1lido</div><p>Este link no es v\\u00e1lido. Ped\\u00ed un nuevo link de check-in por WhatsApp.</p></div>') } }];\n}\n\n// Buscar turno\nconst turnos = await supaGet('consultorio_turnos', { check_in_token: `eq.${token}`, select: 'id,fecha_hora,estado,tipo_pago,check_in_at,paciente_id,profesional_id' });\nconst turno = turnos?.[0];\n\nif (!turno) {\n  return [{ json: { html: htmlPage('No encontrado', '<div class=\"card\"><div class=\"error-icon\">\\u274c</div><div class=\"error-text\">Link inv\\u00e1lido</div><p>No encontramos un turno asociado a este link.</p></div>') } }];\n}\n\n// Turno cancelado\nif (['cancelado','auto_cancelado'].includes(turno.estado)) {\n  return [{ json: { html: htmlPage('Cancelado', '<div class=\"card\"><div class=\"error-icon\">\\u274c</div><div class=\"error-text\">Turno cancelado</div><p>Este turno fue cancelado. Pod\\u00e9s agendar uno nuevo por WhatsApp.</p></div>') } }];\n}\n\n// Turno ya paso\nconst turnoDate = new Date(turno.fecha_hora);\nif (turnoDate.getTime() < Date.now() - 2*60*60*1000) {\n  return [{ json: { html: htmlPage('Vencido', '<div class=\"card\"><div class=\"error-icon\">\\u23f0</div><div class=\"error-text\">Link vencido</div><p>El turno asociado ya pas\\u00f3. Pod\\u00e9s agendar uno nuevo por WhatsApp.</p></div>') } }];\n}\n\nconst pac = await supaGet('consultorio_pacientes', { id: `eq.${turno.paciente_id}`, select: 'nombre,dni,obra_social' });\nconst prof = await supaGet('consultorio_profesionales', { id: `eq.${turno.profesional_id}`, select: 'nombre,especialidad,consultorio' });\nconst nombre = pac?.[0]?.nombre || 'Paciente';\nconst primerNombre = nombre.split(' ')[0];\nconst d = argDate(turnoDate);\n\n// === PROCESAR CHECK-IN ===\nif (action === 'checkin' && !turno.check_in_at) {\n  await supaUpdate('consultorio_turnos', { id: `eq.${turno.id}` }, { estado: 'presente', check_in_at: new Date().toISOString() });\n  \n  // Contar pacientes antes\n  const antes = await supaGet('consultorio_turnos', { profesional_id: `eq.${turno.profesional_id}`, estado: 'eq.presente', select: 'check_in_at', order: 'check_in_at.asc' });\n  const orden = (antes?.length || 1);\n  const pacAntes = Math.max(0, orden - 1);\n  const tiempoEst = pacAntes * (prof?.[0]?.duracion_turno_min || 15);\n  const numOrden = String(orden).padStart(4, '0');\n  \n  // Notificar a recepcion por Telegram\n  if (TELEGRAM_TOKEN && TELEGRAM_CHAT) {\n    const tipoMsg = turno.tipo_pago === 'obra_social' ? `OS: ${pac[0]?.obra_social || '?'} \\u2014 Verificar credencial + DNI + coseguro` : `Particular \\u2014 Cobrar consulta $45.000`;\n    const tgMsg = `\\ud83d\\udd14 NUEVO CHECK-IN\\n\\nPaciente: ${nombre}\\nDNI: ${pac[0]?.dni || '?'}\\nTurno: ${fmtHora(d)} hs \\u2014 ${prof[0]?.nombre || '?'} (${prof[0]?.especialidad || '?'})\\nTipo: ${tipoMsg}\\nLlegada: ${fmtHora(argDate(new Date()))} hs\\nOrden: #${numOrden}`;\n    try {\n      await helpers.httpRequest({ method: 'POST', url: `https://api.telegram.org/bot${TELEGRAM_TOKEN}/sendMessage`, headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({ chat_id: TELEGRAM_CHAT, text: tgMsg }) });\n    } catch (e) {}\n  }\n  \n  const instruccion = turno.tipo_pago === 'obra_social'\n    ? `Acercate a recepci\\u00f3n con tu credencial de ${pac[0]?.obra_social || 'obra social'} y DNI para el coseguro.`\n    : 'Acercate a recepci\\u00f3n para abonar la consulta ($45.000).';\n  \n  const successHtml = `\n    <div class=\"card\">\n      <div class=\"success-icon\">\\u2705</div>\n      <div class=\"greeting\">CHECK-IN COMPLETADO</div>\n      <p style=\"color:#64748B;margin-bottom:16px\">${primerNombre}, recepci\\u00f3n ya sabe que llegaste.</p>\n      <div class=\"step-box\">\n        \\ud83d\\udccb <strong>Pr\\u00f3ximo paso:</strong><br>\n        ${instruccion}<br><br>\n        Despu\\u00e9s pas\\u00e1 a sala de espera, Piso 1.\n      </div>\n      <div class=\"stats\">\n        <div class=\"stat\"><div class=\"stat-value\">#${numOrden}</div><div class=\"stat-label\">Tu orden</div></div>\n        <div class=\"stat\"><div class=\"stat-value\">${pacAntes}</div><div class=\"stat-label\">Antes que vos</div></div>\n        <div class=\"stat\"><div class=\"stat-value\">~${tiempoEst}m</div><div class=\"stat-label\">Estimado</div></div>\n      </div>\n    </div>`;\n  \n  return [{ json: { html: htmlPage('Check-in OK', successHtml) } }];\n}\n\n// === YA HIZO CHECK-IN ===\nif (turno.check_in_at) {\n  const antes = await supaGet('consultorio_turnos', { profesional_id: `eq.${turno.profesional_id}`, estado: 'eq.presente', select: 'check_in_at', order: 'check_in_at.asc' });\n  let miPos = 0; for (let i=0;i<(antes?.length||0);i++) { if (new Date(antes[i].check_in_at) <= new Date(turno.check_in_at)) miPos = i+1; }\n  const pacAntes = Math.max(0, miPos - 1);\n  const tiempoEst = pacAntes * (prof?.[0]?.duracion_turno_min || 15);\n  \n  return [{ json: { html: htmlPage('Ya check-in', `\n    <div class=\"card\">\n      <div class=\"success-icon\">\\u2705</div>\n      <div class=\"greeting\">Ya hiciste check-in</div>\n      <div class=\"info-box\">\n        <div class=\"info-row\">\\ud83d\\udcc5 ${fmtHora(d)} hs \\u2014 ${prof[0]?.nombre || '?'}</div>\n        <div class=\"info-row\">\\ud83c\\udfe0 ${prof[0]?.consultorio || ''}, Piso 1</div>\n      </div>\n      <div class=\"stats\">\n        <div class=\"stat\"><div class=\"stat-value\">${pacAntes}</div><div class=\"stat-label\">Antes que vos</div></div>\n        <div class=\"stat\"><div class=\"stat-value\">~${tiempoEst}m</div><div class=\"stat-label\">Estimado</div></div>\n      </div>\n    </div>`) } }];\n}\n\n// === MOSTRAR PAGINA DE CHECK-IN ===\nconst N8N_URL = $input.first().json?.headers?.host ? `https://${$input.first().json.headers.host}` : N8N_BASE_URL;\nconst checkinAction = `${N8N_URL}/webhook/consultorio-checkin?token=${token}&action=checkin`;\n\nconst mainHtml = `\n  <div class=\"card\">\n    <div class=\"logo\">\\ud83c\\udfe5 POLICONSULTORIO RIVADAVIA</div>\n    <div class=\"subtitle\">Check-in digital</div>\n    <div class=\"divider\"></div>\n    <div class=\"greeting\">Hola ${primerNombre}!</div>\n    <p style=\"color:#64748B;margin-bottom:20px\">Tu turno de hoy:</p>\n    <div class=\"info-box\">\n      <div class=\"info-row\">\\ud83d\\udcc5 ${fmtLarga(d)}, ${fmtHora(d)} hs</div>\n      <div class=\"info-row\">\\ud83d\\udc68\\u200d\\u2695\\ufe0f ${prof[0]?.nombre || '?'} \\u2014 ${prof[0]?.especialidad || '?'}</div>\n      <div class=\"info-row\">\\ud83c\\udfe0 ${prof[0]?.consultorio || ''}, Piso 1</div>\n    </div>\n    <button class=\"btn btn-primary\" id=\"checkinBtn\" onclick=\"doCheckin()\">\\u2705 YA LLEGU\\u00c9</button>\n    <p style=\"color:#94A3B8;font-size:12px;margin-top:16px\">Av. Rivadavia 4520, Caballito, CABA</p>\n  </div>\n  <script>\n    async function doCheckin() {\n      const btn = document.getElementById('checkinBtn');\n      btn.disabled = true; btn.textContent = 'Procesando...';\n      try {\n        const r = await fetch('${checkinAction}');\n        const html = await r.text();\n        document.body.innerHTML = html.match(/<body>(.*)<\\\\/body>/s)?.[1] || html;\n      } catch(e) {\n        btn.textContent = 'Error, intent\\u00e1 de nuevo';\n        btn.disabled = false;\n      }\n    }\n  </script>`;\n\nreturn [{ json: { html: htmlPage('Check-in', mainHtml) } }];"}},{"id":"c04-respond","name":"Respond HTML","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[80,300],"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"}]}}}}],"connections":{"Webhook Check-in":{"main":[[{"node":"Procesar Check-in","type":"main","index":0}]]},"Procesar Check-in":{"main":[[{"node":"Respond HTML","type":"main","index":0}]]}},"authors":"Carlos Gonzalez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-05T04:03:28.742Z","id":125,"workflowId":"wzVvzt9Be1IOKOPd","versionId":"4645fbf0-1a0c-4f71-8e2e-220938f15b46","event":"activated","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805"}]}}