consultorio-kit/n8n/WF08-selector-turnos-web.json
{"updatedAt":"2026-04-22T04:07:21.246Z","createdAt":"2026-04-05T03:54:40.283Z","id":"lNSGEWwP4VlSVES8","name":"Consultorio - WF08 Selector de Turnos Web","description":null,"active":true,"isArchived":false,"nodes":[{"id":"c08-webhook","name":"Webhook Turnos","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,300],"parameters":{"httpMethod":"GET","path":"consultorio-turnos","responseMode":"responseNode","options":{}},"webhookId":"8aa849ce-930c-4002-bc99-0b2c2675dd88"},{"id":"c08-logic","name":"Selector de Turnos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,300],"parameters":{"jsCode":"// ============================================================\n// WF-08: SELECTOR DE TURNOS WEB — Premium UI\n// ============================================================\n\nconst helpers = this.helpers;\nconst SUPABASE_URL = $env.SUPABASE_URL;\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_KEY;\nconst WA_TOKEN = $env.META_WHATSAPP_TOKEN;\nconst PHONE_ID = '963190063548521';\nconst CONSULTORIO_WA_NUMBER = '5491137936325';\nconst WA_DEEPLINK = `https://wa.me/${CONSULTORIO_WA_NUMBER}`;\n\nconst CONSULTORIO = {\n  nombre: 'Policonsultorio Rivadavia',\n  direccion: 'Av. Rivadavia 4520, Piso 1, Caballito, CABA',\n  mapsLink: 'https://maps.google.com/?q=Av+Rivadavia+4520+CABA'\n};\nconst DIAS = ['Dom','Lun','Mar','Mié','Jue','Vie','Sáb'];\nconst MESES = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];\nconst MC = ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'];\nfunction argDate(d) { return new Date(d.getTime() - 3*60*60*1000); }\n\nasync function supaGet(t, p) { try { return await helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/${t}`, qs: p||{}, headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` } }); } catch(e) { return []; } }\nasync function supaInsert(t, d) { try { return await helpers.httpRequest({ method: 'POST', url: `${SUPABASE_URL}/rest/v1/${t}`, headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'return=representation' }, body: JSON.stringify(d) }); } catch(e) { return []; } }\nasync function supaUpdate(t, f, d) { try { await helpers.httpRequest({ method: 'PATCH', url: `${SUPABASE_URL}/rest/v1/${t}`, qs: f, headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' }, body: JSON.stringify({ ...d, updated_at: new Date().toISOString() }) }); } catch(e) {} }\nasync function sendText(ph, tx) { try { await helpers.httpRequest({ method: 'POST', url: `https://graph.facebook.com/v21.0/${PHONE_ID}/messages`, headers: { 'Authorization': `Bearer ${WA_TOKEN}`, 'Content-Type': 'application/json' }, body: JSON.stringify({ messaging_product: 'whatsapp', to: ph, type: 'text', text: { body: tx } }) }); } catch(e) {} }\nasync function sendCTAUrl(ph, bodyTx, btnText, url) { try { await helpers.httpRequest({ method: 'POST', url: `https://graph.facebook.com/v21.0/${PHONE_ID}/messages`, headers: { 'Authorization': `Bearer ${WA_TOKEN}`, 'Content-Type': 'application/json' }, body: JSON.stringify({ messaging_product: 'whatsapp', to: ph, type: 'interactive', interactive: { type: 'cta_url', body: { text: bodyTx }, action: { name: 'cta_url', parameters: { display_text: btnText, url } } } }) }); } catch(e) {} }\n\nconst sessionToken = $input.first().json?.query?.token || '';\nconst action = $input.first().json?.query?.action || '';\nconst slotParam = $input.first().json?.query?.slot || '';\nconst host = $input.first().json?.headers?.host || '';\nconst baseUrl = `https://${host}/webhook/consultorio-turnos`;\n\nfunction errPg(title, msg, type) {\n  const cl = {error:{bg:'#FEE2E2',c:'#EF4444'},expired:{bg:'#FEF3C7',c:'#F59E0B'},empty:{bg:'#DBEAFE',c:'#2563EB'}};\n  const cc = cl[type]||cl.error;\n  const ic = {error:'<circle cx=\"12\" cy=\"12\" r=\"10\"/><line x1=\"15\" y1=\"9\" x2=\"9\" y2=\"15\"/><line x1=\"9\" y1=\"9\" x2=\"15\" y2=\"15\"/>',expired:'<circle cx=\"12\" cy=\"12\" r=\"10\"/><polyline points=\"12 6 12 12 16 14\"/>',empty:'<rect x=\"3\" y=\"4\" width=\"18\" height=\"18\" rx=\"2\"/><line x1=\"16\" y1=\"2\" x2=\"16\" y2=\"6\"/><line x1=\"8\" y1=\"2\" x2=\"8\" y2=\"6\"/><line x1=\"3\" y1=\"10\" x2=\"21\" y2=\"10\"/>'};\n  return `<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>${title}</title><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:system-ui,sans-serif;background:#F0F4FF;min-height:100dvh;display:flex;justify-content:center;align-items:center;padding:32px}.c{text-align:center;max-width:320px}.i{width:80px;height:80px;border-radius:50%;background:${cc.bg};display:flex;align-items:center;justify-content:center;margin:0 auto 20px}.i svg{width:36px;height:36px;color:${cc.c}}h2{font-size:20px;font-weight:700;color:#1E293B;margin-bottom:8px}p{font-size:15px;color:#64748B;line-height:1.5}</style></head><body><div class=\"c\"><div class=\"i\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\">${ic[type]||ic.error}</svg></div><h2>${title}</h2><p>${msg}</p></div></body></html>`;\n}\n\nfunction sucPg(prof, fecha, hora) {\n  return `<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><meta name=\"theme-color\" content=\"#10B981\"><title>Turno Confirmado</title><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:system-ui,sans-serif;background:#F0F4FF;min-height:100dvh;display:flex;justify-content:center}.a{max-width:480px;width:100%;display:flex;flex-direction:column;align-items:center;padding:60px 24px 40px;text-align:center}.sc{width:96px;height:96px;border-radius:50%;background:linear-gradient(135deg,#10B981,#34D399);display:flex;align-items:center;justify-content:center;margin-bottom:24px;box-shadow:0 8px 32px rgba(16,185,129,0.3);animation:pop 0.5s cubic-bezier(0.34,1.56,0.64,1) forwards;opacity:0;transform:scale(0.3)}@keyframes pop{to{opacity:1;transform:scale(1)}}.sc svg{width:44px;height:44px;color:#fff}h2{font-size:24px;font-weight:700;color:#1E293B;margin-bottom:8px;animation:fu 0.5s 0.2s ease forwards;opacity:0;transform:translateY(12px)}.sub{font-size:15px;color:#64748B;margin-bottom:28px;animation:fu 0.5s 0.3s ease forwards;opacity:0;transform:translateY(12px)}@keyframes fu{to{opacity:1;transform:translateY(0)}}.cd{background:#fff;border-radius:16px;padding:20px;width:100%;box-shadow:0 8px 32px rgba(37,99,235,0.12);animation:fu 0.5s 0.4s ease forwards;opacity:0;transform:translateY(12px)}.rw{display:flex;align-items:center;gap:12px;padding:10px 0}.rw+.rw{border-top:1px solid #E2E8F0}.ri{display:flex;align-items:center;justify-content:center;width:36px;height:36px;border-radius:10px;background:#DBEAFE;flex-shrink:0}.ri svg{width:18px;height:18px;color:#2563EB}.rl{font-size:11px;font-weight:600;color:#94A3B8;text-transform:uppercase;letter-spacing:0.05em}.rv{font-size:15px;font-weight:500;color:#1E293B}.wa{display:flex;align-items:center;gap:8px;margin-top:24px;padding:14px 20px;border-radius:100px;background:#D1FAE5;color:#065F46;font-size:14px;font-weight:500;animation:fu 0.5s 0.6s ease forwards;opacity:0;transform:translateY(12px)}.wa svg{width:20px;height:20px;flex-shrink:0}.cl{margin-top:20px;font-size:13px;color:#94A3B8;animation:fu 0.5s 0.7s ease forwards;opacity:0}.back-wa{display:flex;align-items:center;justify-content:center;gap:10px;margin-top:24px;padding:16px 24px;background:#25D366;color:#fff;text-decoration:none;font-weight:600;font-size:16px;border-radius:100px;box-shadow:0 8px 24px rgba(37,211,102,0.3);min-height:52px;transition:transform 0.2s}.back-wa:active{transform:scale(0.97)}.back-wa svg{width:22px;height:22px}.countdown{margin-top:14px;font-size:13px;color:#64748B;text-align:center}</style></head><body><div class=\"a\"><div class=\"sc\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg></div><h2>\\u00a1Turno confirmado!</h2><p class=\"sub\">Tu turno fue reservado exitosamente</p><div class=\"cd\"><div class=\"rw\"><div class=\"ri\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><path d=\"M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2\"/><circle cx=\"12\" cy=\"7\" r=\"4\"/></svg></div><div><div class=\"rl\">Profesional</div><div class=\"rv\">${prof.nombre} \\u2014 ${prof.especialidad}</div></div></div><div class=\"rw\"><div class=\"ri\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><rect x=\"3\" y=\"4\" width=\"18\" height=\"18\" rx=\"2\"/><line x1=\"16\" y1=\"2\" x2=\"16\" y2=\"6\"/><line x1=\"8\" y1=\"2\" x2=\"8\" y2=\"6\"/><line x1=\"3\" y1=\"10\" x2=\"21\" y2=\"10\"/></svg></div><div><div class=\"rl\">Fecha y hora</div><div class=\"rv\">${fecha}, ${hora} hs</div></div></div><div class=\"rw\"><div class=\"ri\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><path d=\"M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z\"/><circle cx=\"12\" cy=\"10\" r=\"3\"/></svg></div><div><div class=\"rl\">Consultorio</div><div class=\"rv\">${prof.consultorio}, Piso 1</div></div></div></div><div class=\"wa\"><svg viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413z\"/></svg>Te enviamos la confirmaci\\u00f3n por WhatsApp</div><a href=\"${WA_DEEPLINK}\" class=\"back-wa\"><svg viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413z\"/></svg>Volver a WhatsApp</a><p class=\"countdown\" id=\"cd\">Volviendo en <span id=\"cd-n\">3</span> segundos...</p><script>(function(){var n=3;var el=document.getElementById('cd-n');var iv=setInterval(function(){n--;if(el)el.textContent=n;if(n<=0){clearInterval(iv);location.href='${WA_DEEPLINK}';}},1000);})();</script></div></body></html>`;\n}\n\nif (!sessionToken) return [{json:{html:errPg('Link inv\\u00e1lido','Este link no es v\\u00e1lido.','error')}}];\n\nconst allC = await supaGet('consultorio_conversaciones',{select:'*'});\nconst conv = allC?.find(c => c.contexto?.bookingToken === sessionToken);\nif (!conv||!conv.contexto) return [{json:{html:errPg('Sesi\\u00f3n expirada','Este enlace ya no es v\\u00e1lido. Escrib\\u00ed por WhatsApp para uno nuevo.','expired')}}];\n\nconst ctx = conv.contexto;\nconst profs = await supaGet('consultorio_profesionales',{id:`eq.${ctx.profesionalId}`,select:'nombre,especialidad,consultorio,duracion_turno_min'});\nconst prof = profs?.[0];\nif (!prof) return [{json:{html:errPg('Error','No se pudo cargar el profesional.','error')}}];\n\n// === CONFIRMAR ===\nif (action === 'confirmar' && slotParam) {\n  const slotIso = decodeURIComponent(slotParam);\n  await supaInsert('consultorio_turnos',{paciente_id:ctx.pacienteId,profesional_id:ctx.profesionalId,fecha_hora:slotIso,estado:'agendado',tipo_pago:ctx.obraSocial?'obra_social':'particular'});\n  await supaUpdate('consultorio_conversaciones',{telefono_wa:`eq.${conv.telefono_wa}`},{estado:'inicio',contexto:{}});\n  const d = argDate(new Date(slotIso));\n  const fec = `${DIAS[d.getUTCDay()]} ${d.getUTCDate()} de ${MESES[d.getUTCMonth()]}`;\n  const hr = `${String(d.getUTCHours()).padStart(2,'0')}:${String(d.getUTCMinutes()).padStart(2,'0')}`;\n  let msg = `\\u2705 *TURNO CONFIRMADO*\\n\\n\\ud83d\\udcc5 ${fec}, ${hr} hs\\n\\ud83d\\udc68\\u200d\\u2695\\ufe0f ${prof.nombre} \\u2014 ${prof.especialidad}\\n\\ud83d\\udccd ${CONSULTORIO.direccion}, ${prof.consultorio}\\n\\ud83d\\uddfa\\ufe0f ${CONSULTORIO.mapsLink}\\n\\nRecord\\u00e1 traer:\\n\\u2022 DNI\\n`;\n  if (ctx.obraSocial) msg += `\\u2022 Credencial de ${ctx.obraSocial}\\n`;\n  msg += `\\nTe voy a mandar un recordatorio. Para cancelar o reprogramar, escribime. \\ud83d\\udc4b`;\n  const turDur = prof.duracion_turno_min || 15;\n  const p2 = (n) => String(n).padStart(2, '0');\n  const gcStart = `${d.getUTCFullYear()}${p2(d.getUTCMonth()+1)}${p2(d.getUTCDate())}T${p2(d.getUTCHours())}${p2(d.getUTCMinutes())}00`;\n  const gcEndD = new Date(d.getTime() + turDur * 60 * 1000);\n  const gcEnd = `${gcEndD.getUTCFullYear()}${p2(gcEndD.getUTCMonth()+1)}${p2(gcEndD.getUTCDate())}T${p2(gcEndD.getUTCHours())}${p2(gcEndD.getUTCMinutes())}00`;\n  const gcalUrl = `https://calendar.google.com/calendar/render?action=TEMPLATE&text=${encodeURIComponent('Turno: ' + prof.nombre)}&dates=${gcStart}/${gcEnd}&details=${encodeURIComponent('Turno con ' + prof.nombre + ' (' + prof.especialidad + ')')}&location=${encodeURIComponent(CONSULTORIO.direccion)}`;\n  await sendCTAUrl(conv.telefono_wa, msg, 'Google Calendar', gcalUrl);\n  return [{json:{html:sucPg(prof,fec,hr)}}];\n}\n\n// === GENERAR SLOTS ===\nconst hor = await supaGet('consultorio_horarios_profesional',{profesional_id:`eq.${ctx.profesionalId}`,select:'dia_semana,hora_inicio,hora_fin'});\nconst dur = prof.duracion_turno_min||15;\nconst nowA = argDate(new Date());\nconst tns = await supaGet('consultorio_turnos',{profesional_id:`eq.${ctx.profesionalId}`,select:'fecha_hora',estado:'not.in.(cancelado,auto_cancelado)'});\nconst tk = new Set();\nif(tns) for(const t of tns){const a=argDate(new Date(t.fecha_hora));tk.add(`${a.getUTCFullYear()}-${String(a.getUTCMonth()+1).padStart(2,'0')}-${String(a.getUTCDate()).padStart(2,'0')}T${String(a.getUTCHours()).padStart(2,'0')}:${String(a.getUTCMinutes()).padStart(2,'0')}`)}\nconst sbd = {};\nfor(let dd=0;dd<14;dd++){const dt=new Date(nowA.getTime()+dd*24*60*60*1000);let jd=dt.getUTCDay();let db=jd===0?7:jd;const sc=hor.filter(h=>h.dia_semana===db);if(!sc.length)continue;const ds=`${dt.getUTCFullYear()}-${String(dt.getUTCMonth()+1).padStart(2,'0')}-${String(dt.getUTCDate()).padStart(2,'0')}`;sbd[ds]={dayName:DIAS[jd],dayNum:dt.getUTCDate(),month:MC[dt.getUTCMonth()],slots:[]};for(const s of sc){const[sh,sm]=s.hora_inicio.split(':').map(Number);const[eh,em]=s.hora_fin.split(':').map(Number);let h=sh,m=sm;while(h*60+m+dur<=eh*60+em){if(dd===0){const nw=nowA.getUTCHours()*60+nowA.getUTCMinutes();if(h*60+m<=nw){m+=dur;if(m>=60){h++;m-=60}continue}}const ts=`${String(h).padStart(2,'0')}:${String(m).padStart(2,'0')}`;if(!tk.has(`${ds}T${ts}`))sbd[ds].slots.push({time:ts,iso:`${ds}T${ts}:00-03:00`,franja:h<12?'AM':'PM'});m+=dur;if(m>=60){h++;m-=60}}}if(sbd[ds].slots.length===0)delete sbd[ds]}\nconst dates = Object.keys(sbd);\nif(!dates.length) return [{json:{html:errPg('Sin turnos',`No hay horarios con ${prof.nombre} en los pr\\u00f3ximos 14 d\\u00edas.`,'empty')}}];\n\nconst pi = ctx.obraSocial ? `${ctx.obraSocial} \\u2014 el copago se abona al llegar en recepci\\u00f3n` : 'Particular \\u2014 $45.000 se abona al llegar en recepci\\u00f3n';\nconst ini = prof.nombre.split(' ').filter(w=>w.length>1&&w[0]===w[0].toUpperCase()).map(w=>w[0]).join('').substring(0,2)||'DR';\nconst sj = JSON.stringify(sbd);\n\nconst html = `<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no\"><meta name=\"theme-color\" content=\"#2563EB\"><title>Turnos - ${CONSULTORIO.nombre}</title><style>*,*::before,*::after{box-sizing:border-box;margin:0;padding:0}:root{--p:#2563EB;--pl:#DBEAFE;--a:#8B5CF6;--ok:#10B981;--bg:#F0F4FF;--c:#FFF;--t:#1E293B;--ts:#64748B;--tm:#94A3B8;--b:#E2E8F0;--r:#EF4444}body{font-family:system-ui,-apple-system,sans-serif;background:var(--bg);color:var(--t);min-height:100dvh;-webkit-font-smoothing:antialiased}.app{max-width:480px;margin:0 auto;min-height:100dvh;background:var(--bg)}.hdr{background:linear-gradient(135deg,var(--p),var(--a));padding:24px 20px 28px;color:#fff;position:relative;overflow:hidden}.hdr::before{content:'';position:absolute;top:-40%;right:-20%;width:200px;height:200px;border-radius:50%;background:rgba(255,255,255,0.08)}.hdr::after{content:'';position:absolute;bottom:-30%;left:-10%;width:150px;height:150px;border-radius:50%;background:rgba(255,255,255,0.05)}.hdr>div{position:relative;z-index:1}.hdr h1{font-size:20px;font-weight:700}.hdr p{font-size:14px;opacity:0.85;margin-top:4px}.pc{background:var(--c);margin:-12px 16px 0;border-radius:16px;padding:16px;display:flex;align-items:center;gap:14px;position:relative;z-index:2;box-shadow:0 8px 32px rgba(37,99,235,0.12)}.pa{width:52px;height:52px;border-radius:50%;background:linear-gradient(135deg,var(--p),var(--a));display:flex;align-items:center;justify-content:center;color:#fff;font-size:18px;font-weight:700;flex-shrink:0}.pn{font-size:16px;font-weight:600;display:flex;align-items:center;gap:6px}.vb{display:inline-flex;align-items:center;justify-content:center;width:18px;height:18px;border-radius:50%;background:var(--p)}.pe{font-size:13px;color:var(--ts);font-weight:500}.pr{font-size:12px;color:var(--tm)}.sec{padding:20px 16px 0}.sl{font-size:13px;font-weight:600;color:var(--ts);text-transform:uppercase;letter-spacing:0.05em;margin-bottom:12px}.dsw{margin:0 -16px;padding:0 16px;overflow-x:auto;-webkit-overflow-scrolling:touch;scrollbar-width:none}.dsw::-webkit-scrollbar{display:none}.dp{display:flex;gap:8px;padding-right:16px;width:max-content}.dc{display:flex;flex-direction:column;align-items:center;padding:10px 14px 12px;border-radius:100px;border:2px solid var(--b);background:var(--c);cursor:pointer;transition:all 0.2s;min-width:68px;position:relative;user-select:none;-webkit-tap-highlight-color:transparent}.dc:active{transform:scale(0.96)}.dc.sel{background:var(--p);border-color:var(--p);box-shadow:0 4px 12px rgba(37,99,235,0.35)}.dc.sel .dn,.dc.sel .dd,.dc.sel .dm{color:#fff}.dn{font-size:11px;font-weight:500;color:var(--tm);text-transform:uppercase}.dd{font-size:22px;font-weight:700;color:var(--t);line-height:1.1;margin:2px 0}.dm{font-size:11px;font-weight:500;color:var(--ts)}.tb{position:absolute;top:-8px;left:50%;transform:translateX(-50%);font-size:9px;font-weight:700;color:var(--p);background:var(--pl);padding:1px 8px;border-radius:20px;text-transform:uppercase}.dc.sel .tb{color:#fff;background:rgba(255,255,255,0.25)}.tsh{display:flex;align-items:center;gap:8px;margin:20px 0 10px}.tsi{display:flex;align-items:center;justify-content:center;width:28px;height:28px;border-radius:8px;background:var(--pl)}.tsi svg{width:16px;height:16px;color:var(--p)}.tst{font-size:14px;font-weight:600}.tg{display:grid;grid-template-columns:repeat(3,1fr);gap:8px}.ts{display:flex;align-items:center;justify-content:center;gap:6px;padding:12px 8px;border-radius:100px;border:2px solid var(--b);background:var(--c);font-size:14px;font-weight:500;cursor:pointer;transition:all 0.2s;min-height:44px;user-select:none;-webkit-tap-highlight-color:transparent}.ts:active{transform:scale(0.96)}.ts:hover{border-color:var(--p);background:var(--pl)}.ts.sel{background:var(--p);border-color:var(--p);color:#fff;box-shadow:0 4px 12px rgba(37,99,235,0.35)}.ts .ck{display:none;width:14px;height:14px}.ts.sel .ck{display:inline-block}.pi{display:flex;align-items:center;gap:8px;padding:12px 14px;border-radius:12px;background:#FFFBEB;border:1px solid #FDE68A;margin-top:20px;font-size:13px;color:#92400E;line-height:1.4}.pi svg{flex-shrink:0;width:18px;height:18px;color:#F59E0B}.cb{position:fixed;bottom:0;left:50%;transform:translateX(-50%) translateY(100%);width:100%;max-width:480px;background:var(--c);border-top:1px solid var(--b);padding:14px 16px calc(14px + env(safe-area-inset-bottom,0px));box-shadow:0 -4px 24px rgba(0,0,0,0.08);border-radius:20px 20px 0 0;transition:transform 0.35s cubic-bezier(0.16,1,0.3,1);z-index:100}.cb.vis{transform:translateX(-50%) translateY(0)}.cs{font-size:13px;color:var(--ts);margin-bottom:10px;text-align:center;line-height:1.4}.cs strong{color:var(--t);font-weight:600}.cbtn{display:flex;align-items:center;justify-content:center;gap:8px;width:100%;padding:16px;border:none;border-radius:12px;background:linear-gradient(135deg,var(--p),var(--a));color:#fff;font-size:16px;font-weight:600;cursor:pointer;transition:all 0.2s;min-height:52px}.cbtn:active{transform:scale(0.98);opacity:0.9}.cbtn:disabled{opacity:0.5;cursor:not-allowed}.cbtn .sp{display:none;width:20px;height:20px;border:2.5px solid rgba(255,255,255,0.3);border-top-color:#fff;border-radius:50%;animation:spin 0.7s linear infinite}.cbtn.ld .sp{display:block}.cbtn.ld .bl{display:none}@keyframes spin{to{transform:rotate(360deg)}}.bs{height:120px}</style></head><body><div class=\"app\"><div class=\"hdr\"><div><h1>${CONSULTORIO.nombre}</h1><p>Selecci\\u00f3n de turno</p></div></div><div class=\"pc\"><div class=\"pa\">${ini}</div><div><div class=\"pn\">${prof.nombre} <div class=\"vb\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"white\" stroke-width=\"3\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg></div></div><div class=\"pe\">${prof.especialidad}</div><div class=\"pr\">${prof.consultorio}</div></div></div><div class=\"sec\"><div class=\"sl\">Fecha</div><div class=\"dsw\"><div class=\"dp\" id=\"dp\"></div></div></div><div class=\"sec\"><div class=\"sl\">Horarios disponibles</div><div id=\"tc\"></div></div><div class=\"sec\"><div class=\"pi\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><circle cx=\"12\" cy=\"12\" r=\"10\"/><line x1=\"12\" y1=\"8\" x2=\"12\" y2=\"12\"/><line x1=\"12\" y1=\"16\" x2=\"12.01\" y2=\"16\"/></svg><span>${pi}</span></div></div><div class=\"bs\"></div></div><div class=\"cb\" id=\"cb\"><div class=\"cs\" id=\"csum\"></div><button class=\"cbtn\" id=\"cbtn\" onclick=\"go()\"><span class=\"bl\">Confirmar turno</span><div class=\"sp\"></div></button></div></div><script>(function(){var S=${sj},D=${JSON.stringify(dates)},PN=${JSON.stringify(prof.nombre)},PE=${JSON.stringify(prof.especialidad)},CO=${JSON.stringify(prof.consultorio)},BU=${JSON.stringify(baseUrl)};var sd=null,ss=null,tk=new URLSearchParams(location.search).get('token');var td=new Date().toISOString().split('T')[0],dp=document.getElementById('dp');D.forEach(function(d){var i=S[d],p=document.createElement('div');p.className='dc';p.setAttribute('data-date',d);var h='';if(d===td)h+='<span class=\"tb\">Hoy</span>';h+='<span class=\"dn\">'+esc(i.dayName)+'</span><span class=\"dd\">'+i.dayNum+'</span><span class=\"dm\">'+esc(i.month)+'</span>';p.innerHTML=h;p.addEventListener('click',function(){sel(d)});dp.appendChild(p)});sel(D[0]);function sel(d){sd=d;ss=null;uc();dp.querySelectorAll('.dc').forEach(function(p){p.classList.toggle('sel',p.getAttribute('data-date')===d)});var sp=dp.querySelector('.dc.sel');if(sp)sp.scrollIntoView({behavior:'smooth',block:'nearest',inline:'center'});rts(d)}function rts(d){var c=document.getElementById('tc');c.innerHTML='';var sl=S[d].slots;if(!sl||!sl.length){c.innerHTML='<div style=\"text-align:center;padding:32px 0;color:var(--tm);font-size:14px\">No hay horarios</div>';return}var am=[],pm=[];sl.forEach(function(s){parseInt(s.time)<12?am.push(s):pm.push(s)});if(am.length)c.appendChild(mks('Ma\\u00f1ana','<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><circle cx=\"12\" cy=\"12\" r=\"5\"/><line x1=\"12\" y1=\"1\" x2=\"12\" y2=\"3\"/><line x1=\"12\" y1=\"21\" x2=\"12\" y2=\"23\"/><line x1=\"4.22\" y1=\"4.22\" x2=\"5.64\" y2=\"5.64\"/><line x1=\"18.36\" y1=\"18.36\" x2=\"19.78\" y2=\"19.78\"/><line x1=\"1\" y1=\"12\" x2=\"3\" y2=\"12\"/><line x1=\"21\" y1=\"12\" x2=\"23\" y2=\"12\"/><line x1=\"4.22\" y1=\"19.78\" x2=\"5.64\" y2=\"18.36\"/><line x1=\"18.36\" y1=\"5.64\" x2=\"19.78\" y2=\"4.22\"/></svg>',am));if(pm.length)c.appendChild(mks('Tarde','<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><path d=\"M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z\"/></svg>',pm))}function mks(t,ic,arr){var s=document.createElement('div');var hd=document.createElement('div');hd.className='tsh';hd.innerHTML='<div class=\"tsi\">'+ic+'</div><div class=\"tst\">'+t+'</div>';s.appendChild(hd);var g=document.createElement('div');g.className='tg';arr.forEach(function(sl){var d=document.createElement('div');d.className='ts';d.setAttribute('data-iso',sl.iso);d.innerHTML='<svg class=\"ck\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"3\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg>'+esc(sl.time);d.addEventListener('click',function(){sls(sl,d)});g.appendChild(d)});s.appendChild(g);return s}function sls(slot,el){ss=slot;document.querySelectorAll('.ts').forEach(function(s){s.classList.remove('sel')});el.classList.add('sel');uc()}function uc(){var b=document.getElementById('cb');if(!ss){b.classList.remove('vis');return}var i=S[sd];document.getElementById('csum').innerHTML='<strong>'+esc(i.dayName)+' '+i.dayNum+' de '+esc(i.month)+'</strong> a las <strong>'+esc(ss.time)+'</strong> con <strong>'+esc(PN)+'</strong>';b.classList.add('vis')}window.go=function(){if(!ss)return;var b=document.getElementById('cbtn');b.classList.add('ld');b.disabled=true;fetch(BU+'?token='+encodeURIComponent(tk)+'&action=confirmar&slot='+encodeURIComponent(ss.iso)).then(function(r){if(!r.ok)throw new Error('err');return r.text()}).then(function(h){if(h.trim().indexOf('<!D')===0){{document.open();document.write(h);document.close()}}else{b.classList.remove('ld');b.disabled=false}}).catch(function(){b.classList.remove('ld');b.disabled=false;var t=document.createElement('div');t.style.cssText='position:fixed;bottom:100px;left:50%;transform:translateX(-50%);background:var(--r);color:#fff;padding:12px 20px;border-radius:100px;font-size:14px;font-weight:500;z-index:200;box-shadow:0 4px 16px rgba(239,68,68,0.3);max-width:90%;text-align:center';t.textContent='Error al confirmar. Intent\\u00e1 de nuevo.';document.body.appendChild(t);setTimeout(function(){t.style.opacity='0';t.style.transition='opacity 0.3s';setTimeout(function(){t.remove()},300)},3000)})};function esc(s){var d=document.createElement('div');d.appendChild(document.createTextNode(String(s)));return d.innerHTML}})();</script></body></html>`;\n\nreturn [{json:{html}}];"}},{"id":"c08-respond","name":"Respond HTML","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[80,300],"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"}]}}}}],"connections":{"Webhook Turnos":{"main":[[{"node":"Selector de Turnos","type":"main","index":0}]]},"Selector de Turnos":{"main":[[{"node":"Respond HTML","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"e1e040e0-18dc-43f2-b900-dce385b1754c","activeVersionId":"e1e040e0-18dc-43f2-b900-dce385b1754c","versionCounter":38,"triggerCount":1,"shared":[{"updatedAt":"2026-04-05T03:54:40.283Z","createdAt":"2026-04-05T03:54:40.283Z","role":"workflow:owner","workflowId":"lNSGEWwP4VlSVES8","projectId":"Gc8KdOrt5WcC0jQ7","project":{"updatedAt":"2026-03-03T03:56:33.366Z","createdAt":"2026-03-03T03:50:22.655Z","id":"Gc8KdOrt5WcC0jQ7","name":"Carlos Gonzalez <cgonzalezarchilla@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"606822e1-c1a1-4b8e-bb98-c635d3a41805","projectRelations":[{"updatedAt":"2026-03-03T03:50:22.655Z","createdAt":"2026-03-03T03:50:22.655Z","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805","projectId":"Gc8KdOrt5WcC0jQ7","user":{"updatedAt":"2026-05-05T18:21:47.002Z","createdAt":"2026-03-03T03:50:22.256Z","id":"606822e1-c1a1-4b8e-bb98-c635d3a41805","email":"cgonzalezarchilla@gmail.com","firstName":"Carlos","lastName":"Gonzalez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-03-03T03:56:31.369Z","personalization_survey_n8n_version":"2.4.7"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"0X5Abkk-rKt5VX1dzIKGM","userActivatedAt":1772563552032,"npsSurvey":{"responded":true,"lastShownAt":1773760612644}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-05-05","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-22T04:07:21.249Z","createdAt":"2026-04-22T04:07:21.249Z","versionId":"e1e040e0-18dc-43f2-b900-dce385b1754c","workflowId":"lNSGEWwP4VlSVES8","nodes":[{"id":"c08-webhook","name":"Webhook Turnos","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,300],"parameters":{"httpMethod":"GET","path":"consultorio-turnos","responseMode":"responseNode","options":{}},"webhookId":"8aa849ce-930c-4002-bc99-0b2c2675dd88"},{"id":"c08-logic","name":"Selector de Turnos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,300],"parameters":{"jsCode":"// ============================================================\n// WF-08: SELECTOR DE TURNOS WEB — Premium UI\n// ============================================================\n\nconst helpers = this.helpers;\nconst SUPABASE_URL = $env.SUPABASE_URL;\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_KEY;\nconst WA_TOKEN = $env.META_WHATSAPP_TOKEN;\nconst PHONE_ID = '963190063548521';\nconst CONSULTORIO_WA_NUMBER = '5491137936325';\nconst WA_DEEPLINK = `https://wa.me/${CONSULTORIO_WA_NUMBER}`;\n\nconst CONSULTORIO = {\n  nombre: 'Policonsultorio Rivadavia',\n  direccion: 'Av. Rivadavia 4520, Piso 1, Caballito, CABA',\n  mapsLink: 'https://maps.google.com/?q=Av+Rivadavia+4520+CABA'\n};\nconst DIAS = ['Dom','Lun','Mar','Mié','Jue','Vie','Sáb'];\nconst MESES = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];\nconst MC = ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'];\nfunction argDate(d) { return new Date(d.getTime() - 3*60*60*1000); }\n\nasync function supaGet(t, p) { try { return await helpers.httpRequest({ method: 'GET', url: `${SUPABASE_URL}/rest/v1/${t}`, qs: p||{}, headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` } }); } catch(e) { return []; } }\nasync function supaInsert(t, d) { try { return await helpers.httpRequest({ method: 'POST', url: `${SUPABASE_URL}/rest/v1/${t}`, headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'return=representation' }, body: JSON.stringify(d) }); } catch(e) { return []; } }\nasync function supaUpdate(t, f, d) { try { await helpers.httpRequest({ method: 'PATCH', url: `${SUPABASE_URL}/rest/v1/${t}`, qs: f, headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' }, body: JSON.stringify({ ...d, updated_at: new Date().toISOString() }) }); } catch(e) {} }\nasync function sendText(ph, tx) { try { await helpers.httpRequest({ method: 'POST', url: `https://graph.facebook.com/v21.0/${PHONE_ID}/messages`, headers: { 'Authorization': `Bearer ${WA_TOKEN}`, 'Content-Type': 'application/json' }, body: JSON.stringify({ messaging_product: 'whatsapp', to: ph, type: 'text', text: { body: tx } }) }); } catch(e) {} }\nasync function sendCTAUrl(ph, bodyTx, btnText, url) { try { await helpers.httpRequest({ method: 'POST', url: `https://graph.facebook.com/v21.0/${PHONE_ID}/messages`, headers: { 'Authorization': `Bearer ${WA_TOKEN}`, 'Content-Type': 'application/json' }, body: JSON.stringify({ messaging_product: 'whatsapp', to: ph, type: 'interactive', interactive: { type: 'cta_url', body: { text: bodyTx }, action: { name: 'cta_url', parameters: { display_text: btnText, url } } } }) }); } catch(e) {} }\n\nconst sessionToken = $input.first().json?.query?.token || '';\nconst action = $input.first().json?.query?.action || '';\nconst slotParam = $input.first().json?.query?.slot || '';\nconst host = $input.first().json?.headers?.host || '';\nconst baseUrl = `https://${host}/webhook/consultorio-turnos`;\n\nfunction errPg(title, msg, type) {\n  const cl = {error:{bg:'#FEE2E2',c:'#EF4444'},expired:{bg:'#FEF3C7',c:'#F59E0B'},empty:{bg:'#DBEAFE',c:'#2563EB'}};\n  const cc = cl[type]||cl.error;\n  const ic = {error:'<circle cx=\"12\" cy=\"12\" r=\"10\"/><line x1=\"15\" y1=\"9\" x2=\"9\" y2=\"15\"/><line x1=\"9\" y1=\"9\" x2=\"15\" y2=\"15\"/>',expired:'<circle cx=\"12\" cy=\"12\" r=\"10\"/><polyline points=\"12 6 12 12 16 14\"/>',empty:'<rect x=\"3\" y=\"4\" width=\"18\" height=\"18\" rx=\"2\"/><line x1=\"16\" y1=\"2\" x2=\"16\" y2=\"6\"/><line x1=\"8\" y1=\"2\" x2=\"8\" y2=\"6\"/><line x1=\"3\" y1=\"10\" x2=\"21\" y2=\"10\"/>'};\n  return `<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>${title}</title><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:system-ui,sans-serif;background:#F0F4FF;min-height:100dvh;display:flex;justify-content:center;align-items:center;padding:32px}.c{text-align:center;max-width:320px}.i{width:80px;height:80px;border-radius:50%;background:${cc.bg};display:flex;align-items:center;justify-content:center;margin:0 auto 20px}.i svg{width:36px;height:36px;color:${cc.c}}h2{font-size:20px;font-weight:700;color:#1E293B;margin-bottom:8px}p{font-size:15px;color:#64748B;line-height:1.5}</style></head><body><div class=\"c\"><div class=\"i\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\">${ic[type]||ic.error}</svg></div><h2>${title}</h2><p>${msg}</p></div></body></html>`;\n}\n\nfunction sucPg(prof, fecha, hora) {\n  return `<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><meta name=\"theme-color\" content=\"#10B981\"><title>Turno Confirmado</title><style>*{margin:0;padding:0;box-sizing:border-box}body{font-family:system-ui,sans-serif;background:#F0F4FF;min-height:100dvh;display:flex;justify-content:center}.a{max-width:480px;width:100%;display:flex;flex-direction:column;align-items:center;padding:60px 24px 40px;text-align:center}.sc{width:96px;height:96px;border-radius:50%;background:linear-gradient(135deg,#10B981,#34D399);display:flex;align-items:center;justify-content:center;margin-bottom:24px;box-shadow:0 8px 32px rgba(16,185,129,0.3);animation:pop 0.5s cubic-bezier(0.34,1.56,0.64,1) forwards;opacity:0;transform:scale(0.3)}@keyframes pop{to{opacity:1;transform:scale(1)}}.sc svg{width:44px;height:44px;color:#fff}h2{font-size:24px;font-weight:700;color:#1E293B;margin-bottom:8px;animation:fu 0.5s 0.2s ease forwards;opacity:0;transform:translateY(12px)}.sub{font-size:15px;color:#64748B;margin-bottom:28px;animation:fu 0.5s 0.3s ease forwards;opacity:0;transform:translateY(12px)}@keyframes fu{to{opacity:1;transform:translateY(0)}}.cd{background:#fff;border-radius:16px;padding:20px;width:100%;box-shadow:0 8px 32px rgba(37,99,235,0.12);animation:fu 0.5s 0.4s ease forwards;opacity:0;transform:translateY(12px)}.rw{display:flex;align-items:center;gap:12px;padding:10px 0}.rw+.rw{border-top:1px solid #E2E8F0}.ri{display:flex;align-items:center;justify-content:center;width:36px;height:36px;border-radius:10px;background:#DBEAFE;flex-shrink:0}.ri svg{width:18px;height:18px;color:#2563EB}.rl{font-size:11px;font-weight:600;color:#94A3B8;text-transform:uppercase;letter-spacing:0.05em}.rv{font-size:15px;font-weight:500;color:#1E293B}.wa{display:flex;align-items:center;gap:8px;margin-top:24px;padding:14px 20px;border-radius:100px;background:#D1FAE5;color:#065F46;font-size:14px;font-weight:500;animation:fu 0.5s 0.6s ease forwards;opacity:0;transform:translateY(12px)}.wa svg{width:20px;height:20px;flex-shrink:0}.cl{margin-top:20px;font-size:13px;color:#94A3B8;animation:fu 0.5s 0.7s ease forwards;opacity:0}.back-wa{display:flex;align-items:center;justify-content:center;gap:10px;margin-top:24px;padding:16px 24px;background:#25D366;color:#fff;text-decoration:none;font-weight:600;font-size:16px;border-radius:100px;box-shadow:0 8px 24px rgba(37,211,102,0.3);min-height:52px;transition:transform 0.2s}.back-wa:active{transform:scale(0.97)}.back-wa svg{width:22px;height:22px}.countdown{margin-top:14px;font-size:13px;color:#64748B;text-align:center}</style></head><body><div class=\"a\"><div class=\"sc\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg></div><h2>\\u00a1Turno confirmado!</h2><p class=\"sub\">Tu turno fue reservado exitosamente</p><div class=\"cd\"><div class=\"rw\"><div class=\"ri\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><path d=\"M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2\"/><circle cx=\"12\" cy=\"7\" r=\"4\"/></svg></div><div><div class=\"rl\">Profesional</div><div class=\"rv\">${prof.nombre} \\u2014 ${prof.especialidad}</div></div></div><div class=\"rw\"><div class=\"ri\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><rect x=\"3\" y=\"4\" width=\"18\" height=\"18\" rx=\"2\"/><line x1=\"16\" y1=\"2\" x2=\"16\" y2=\"6\"/><line x1=\"8\" y1=\"2\" x2=\"8\" y2=\"6\"/><line x1=\"3\" y1=\"10\" x2=\"21\" y2=\"10\"/></svg></div><div><div class=\"rl\">Fecha y hora</div><div class=\"rv\">${fecha}, ${hora} hs</div></div></div><div class=\"rw\"><div class=\"ri\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><path d=\"M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z\"/><circle cx=\"12\" cy=\"10\" r=\"3\"/></svg></div><div><div class=\"rl\">Consultorio</div><div class=\"rv\">${prof.consultorio}, Piso 1</div></div></div></div><div class=\"wa\"><svg viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413z\"/></svg>Te enviamos la confirmaci\\u00f3n por WhatsApp</div><a href=\"${WA_DEEPLINK}\" class=\"back-wa\"><svg viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413z\"/></svg>Volver a WhatsApp</a><p class=\"countdown\" id=\"cd\">Volviendo en <span id=\"cd-n\">3</span> segundos...</p><script>(function(){var n=3;var el=document.getElementById('cd-n');var iv=setInterval(function(){n--;if(el)el.textContent=n;if(n<=0){clearInterval(iv);location.href='${WA_DEEPLINK}';}},1000);})();</script></div></body></html>`;\n}\n\nif (!sessionToken) return [{json:{html:errPg('Link inv\\u00e1lido','Este link no es v\\u00e1lido.','error')}}];\n\nconst allC = await supaGet('consultorio_conversaciones',{select:'*'});\nconst conv = allC?.find(c => c.contexto?.bookingToken === sessionToken);\nif (!conv||!conv.contexto) return [{json:{html:errPg('Sesi\\u00f3n expirada','Este enlace ya no es v\\u00e1lido. Escrib\\u00ed por WhatsApp para uno nuevo.','expired')}}];\n\nconst ctx = conv.contexto;\nconst profs = await supaGet('consultorio_profesionales',{id:`eq.${ctx.profesionalId}`,select:'nombre,especialidad,consultorio,duracion_turno_min'});\nconst prof = profs?.[0];\nif (!prof) return [{json:{html:errPg('Error','No se pudo cargar el profesional.','error')}}];\n\n// === CONFIRMAR ===\nif (action === 'confirmar' && slotParam) {\n  const slotIso = decodeURIComponent(slotParam);\n  await supaInsert('consultorio_turnos',{paciente_id:ctx.pacienteId,profesional_id:ctx.profesionalId,fecha_hora:slotIso,estado:'agendado',tipo_pago:ctx.obraSocial?'obra_social':'particular'});\n  await supaUpdate('consultorio_conversaciones',{telefono_wa:`eq.${conv.telefono_wa}`},{estado:'inicio',contexto:{}});\n  const d = argDate(new Date(slotIso));\n  const fec = `${DIAS[d.getUTCDay()]} ${d.getUTCDate()} de ${MESES[d.getUTCMonth()]}`;\n  const hr = `${String(d.getUTCHours()).padStart(2,'0')}:${String(d.getUTCMinutes()).padStart(2,'0')}`;\n  let msg = `\\u2705 *TURNO CONFIRMADO*\\n\\n\\ud83d\\udcc5 ${fec}, ${hr} hs\\n\\ud83d\\udc68\\u200d\\u2695\\ufe0f ${prof.nombre} \\u2014 ${prof.especialidad}\\n\\ud83d\\udccd ${CONSULTORIO.direccion}, ${prof.consultorio}\\n\\ud83d\\uddfa\\ufe0f ${CONSULTORIO.mapsLink}\\n\\nRecord\\u00e1 traer:\\n\\u2022 DNI\\n`;\n  if (ctx.obraSocial) msg += `\\u2022 Credencial de ${ctx.obraSocial}\\n`;\n  msg += `\\nTe voy a mandar un recordatorio. Para cancelar o reprogramar, escribime. \\ud83d\\udc4b`;\n  const turDur = prof.duracion_turno_min || 15;\n  const p2 = (n) => String(n).padStart(2, '0');\n  const gcStart = `${d.getUTCFullYear()}${p2(d.getUTCMonth()+1)}${p2(d.getUTCDate())}T${p2(d.getUTCHours())}${p2(d.getUTCMinutes())}00`;\n  const gcEndD = new Date(d.getTime() + turDur * 60 * 1000);\n  const gcEnd = `${gcEndD.getUTCFullYear()}${p2(gcEndD.getUTCMonth()+1)}${p2(gcEndD.getUTCDate())}T${p2(gcEndD.getUTCHours())}${p2(gcEndD.getUTCMinutes())}00`;\n  const gcalUrl = `https://calendar.google.com/calendar/render?action=TEMPLATE&text=${encodeURIComponent('Turno: ' + prof.nombre)}&dates=${gcStart}/${gcEnd}&details=${encodeURIComponent('Turno con ' + prof.nombre + ' (' + prof.especialidad + ')')}&location=${encodeURIComponent(CONSULTORIO.direccion)}`;\n  await sendCTAUrl(conv.telefono_wa, msg, 'Google Calendar', gcalUrl);\n  return [{json:{html:sucPg(prof,fec,hr)}}];\n}\n\n// === GENERAR SLOTS ===\nconst hor = await supaGet('consultorio_horarios_profesional',{profesional_id:`eq.${ctx.profesionalId}`,select:'dia_semana,hora_inicio,hora_fin'});\nconst dur = prof.duracion_turno_min||15;\nconst nowA = argDate(new Date());\nconst tns = await supaGet('consultorio_turnos',{profesional_id:`eq.${ctx.profesionalId}`,select:'fecha_hora',estado:'not.in.(cancelado,auto_cancelado)'});\nconst tk = new Set();\nif(tns) for(const t of tns){const a=argDate(new Date(t.fecha_hora));tk.add(`${a.getUTCFullYear()}-${String(a.getUTCMonth()+1).padStart(2,'0')}-${String(a.getUTCDate()).padStart(2,'0')}T${String(a.getUTCHours()).padStart(2,'0')}:${String(a.getUTCMinutes()).padStart(2,'0')}`)}\nconst sbd = {};\nfor(let dd=0;dd<14;dd++){const dt=new Date(nowA.getTime()+dd*24*60*60*1000);let jd=dt.getUTCDay();let db=jd===0?7:jd;const sc=hor.filter(h=>h.dia_semana===db);if(!sc.length)continue;const ds=`${dt.getUTCFullYear()}-${String(dt.getUTCMonth()+1).padStart(2,'0')}-${String(dt.getUTCDate()).padStart(2,'0')}`;sbd[ds]={dayName:DIAS[jd],dayNum:dt.getUTCDate(),month:MC[dt.getUTCMonth()],slots:[]};for(const s of sc){const[sh,sm]=s.hora_inicio.split(':').map(Number);const[eh,em]=s.hora_fin.split(':').map(Number);let h=sh,m=sm;while(h*60+m+dur<=eh*60+em){if(dd===0){const nw=nowA.getUTCHours()*60+nowA.getUTCMinutes();if(h*60+m<=nw){m+=dur;if(m>=60){h++;m-=60}continue}}const ts=`${String(h).padStart(2,'0')}:${String(m).padStart(2,'0')}`;if(!tk.has(`${ds}T${ts}`))sbd[ds].slots.push({time:ts,iso:`${ds}T${ts}:00-03:00`,franja:h<12?'AM':'PM'});m+=dur;if(m>=60){h++;m-=60}}}if(sbd[ds].slots.length===0)delete sbd[ds]}\nconst dates = Object.keys(sbd);\nif(!dates.length) return [{json:{html:errPg('Sin turnos',`No hay horarios con ${prof.nombre} en los pr\\u00f3ximos 14 d\\u00edas.`,'empty')}}];\n\nconst pi = ctx.obraSocial ? `${ctx.obraSocial} \\u2014 el copago se abona al llegar en recepci\\u00f3n` : 'Particular \\u2014 $45.000 se abona al llegar en recepci\\u00f3n';\nconst ini = prof.nombre.split(' ').filter(w=>w.length>1&&w[0]===w[0].toUpperCase()).map(w=>w[0]).join('').substring(0,2)||'DR';\nconst sj = JSON.stringify(sbd);\n\nconst html = `<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no\"><meta name=\"theme-color\" content=\"#2563EB\"><title>Turnos - ${CONSULTORIO.nombre}</title><style>*,*::before,*::after{box-sizing:border-box;margin:0;padding:0}:root{--p:#2563EB;--pl:#DBEAFE;--a:#8B5CF6;--ok:#10B981;--bg:#F0F4FF;--c:#FFF;--t:#1E293B;--ts:#64748B;--tm:#94A3B8;--b:#E2E8F0;--r:#EF4444}body{font-family:system-ui,-apple-system,sans-serif;background:var(--bg);color:var(--t);min-height:100dvh;-webkit-font-smoothing:antialiased}.app{max-width:480px;margin:0 auto;min-height:100dvh;background:var(--bg)}.hdr{background:linear-gradient(135deg,var(--p),var(--a));padding:24px 20px 28px;color:#fff;position:relative;overflow:hidden}.hdr::before{content:'';position:absolute;top:-40%;right:-20%;width:200px;height:200px;border-radius:50%;background:rgba(255,255,255,0.08)}.hdr::after{content:'';position:absolute;bottom:-30%;left:-10%;width:150px;height:150px;border-radius:50%;background:rgba(255,255,255,0.05)}.hdr>div{position:relative;z-index:1}.hdr h1{font-size:20px;font-weight:700}.hdr p{font-size:14px;opacity:0.85;margin-top:4px}.pc{background:var(--c);margin:-12px 16px 0;border-radius:16px;padding:16px;display:flex;align-items:center;gap:14px;position:relative;z-index:2;box-shadow:0 8px 32px rgba(37,99,235,0.12)}.pa{width:52px;height:52px;border-radius:50%;background:linear-gradient(135deg,var(--p),var(--a));display:flex;align-items:center;justify-content:center;color:#fff;font-size:18px;font-weight:700;flex-shrink:0}.pn{font-size:16px;font-weight:600;display:flex;align-items:center;gap:6px}.vb{display:inline-flex;align-items:center;justify-content:center;width:18px;height:18px;border-radius:50%;background:var(--p)}.pe{font-size:13px;color:var(--ts);font-weight:500}.pr{font-size:12px;color:var(--tm)}.sec{padding:20px 16px 0}.sl{font-size:13px;font-weight:600;color:var(--ts);text-transform:uppercase;letter-spacing:0.05em;margin-bottom:12px}.dsw{margin:0 -16px;padding:0 16px;overflow-x:auto;-webkit-overflow-scrolling:touch;scrollbar-width:none}.dsw::-webkit-scrollbar{display:none}.dp{display:flex;gap:8px;padding-right:16px;width:max-content}.dc{display:flex;flex-direction:column;align-items:center;padding:10px 14px 12px;border-radius:100px;border:2px solid var(--b);background:var(--c);cursor:pointer;transition:all 0.2s;min-width:68px;position:relative;user-select:none;-webkit-tap-highlight-color:transparent}.dc:active{transform:scale(0.96)}.dc.sel{background:var(--p);border-color:var(--p);box-shadow:0 4px 12px rgba(37,99,235,0.35)}.dc.sel .dn,.dc.sel .dd,.dc.sel .dm{color:#fff}.dn{font-size:11px;font-weight:500;color:var(--tm);text-transform:uppercase}.dd{font-size:22px;font-weight:700;color:var(--t);line-height:1.1;margin:2px 0}.dm{font-size:11px;font-weight:500;color:var(--ts)}.tb{position:absolute;top:-8px;left:50%;transform:translateX(-50%);font-size:9px;font-weight:700;color:var(--p);background:var(--pl);padding:1px 8px;border-radius:20px;text-transform:uppercase}.dc.sel .tb{color:#fff;background:rgba(255,255,255,0.25)}.tsh{display:flex;align-items:center;gap:8px;margin:20px 0 10px}.tsi{display:flex;align-items:center;justify-content:center;width:28px;height:28px;border-radius:8px;background:var(--pl)}.tsi svg{width:16px;height:16px;color:var(--p)}.tst{font-size:14px;font-weight:600}.tg{display:grid;grid-template-columns:repeat(3,1fr);gap:8px}.ts{display:flex;align-items:center;justify-content:center;gap:6px;padding:12px 8px;border-radius:100px;border:2px solid var(--b);background:var(--c);font-size:14px;font-weight:500;cursor:pointer;transition:all 0.2s;min-height:44px;user-select:none;-webkit-tap-highlight-color:transparent}.ts:active{transform:scale(0.96)}.ts:hover{border-color:var(--p);background:var(--pl)}.ts.sel{background:var(--p);border-color:var(--p);color:#fff;box-shadow:0 4px 12px rgba(37,99,235,0.35)}.ts .ck{display:none;width:14px;height:14px}.ts.sel .ck{display:inline-block}.pi{display:flex;align-items:center;gap:8px;padding:12px 14px;border-radius:12px;background:#FFFBEB;border:1px solid #FDE68A;margin-top:20px;font-size:13px;color:#92400E;line-height:1.4}.pi svg{flex-shrink:0;width:18px;height:18px;color:#F59E0B}.cb{position:fixed;bottom:0;left:50%;transform:translateX(-50%) translateY(100%);width:100%;max-width:480px;background:var(--c);border-top:1px solid var(--b);padding:14px 16px calc(14px + env(safe-area-inset-bottom,0px));box-shadow:0 -4px 24px rgba(0,0,0,0.08);border-radius:20px 20px 0 0;transition:transform 0.35s cubic-bezier(0.16,1,0.3,1);z-index:100}.cb.vis{transform:translateX(-50%) translateY(0)}.cs{font-size:13px;color:var(--ts);margin-bottom:10px;text-align:center;line-height:1.4}.cs strong{color:var(--t);font-weight:600}.cbtn{display:flex;align-items:center;justify-content:center;gap:8px;width:100%;padding:16px;border:none;border-radius:12px;background:linear-gradient(135deg,var(--p),var(--a));color:#fff;font-size:16px;font-weight:600;cursor:pointer;transition:all 0.2s;min-height:52px}.cbtn:active{transform:scale(0.98);opacity:0.9}.cbtn:disabled{opacity:0.5;cursor:not-allowed}.cbtn .sp{display:none;width:20px;height:20px;border:2.5px solid rgba(255,255,255,0.3);border-top-color:#fff;border-radius:50%;animation:spin 0.7s linear infinite}.cbtn.ld .sp{display:block}.cbtn.ld .bl{display:none}@keyframes spin{to{transform:rotate(360deg)}}.bs{height:120px}</style></head><body><div class=\"app\"><div class=\"hdr\"><div><h1>${CONSULTORIO.nombre}</h1><p>Selecci\\u00f3n de turno</p></div></div><div class=\"pc\"><div class=\"pa\">${ini}</div><div><div class=\"pn\">${prof.nombre} <div class=\"vb\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"white\" stroke-width=\"3\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg></div></div><div class=\"pe\">${prof.especialidad}</div><div class=\"pr\">${prof.consultorio}</div></div></div><div class=\"sec\"><div class=\"sl\">Fecha</div><div class=\"dsw\"><div class=\"dp\" id=\"dp\"></div></div></div><div class=\"sec\"><div class=\"sl\">Horarios disponibles</div><div id=\"tc\"></div></div><div class=\"sec\"><div class=\"pi\"><svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><circle cx=\"12\" cy=\"12\" r=\"10\"/><line x1=\"12\" y1=\"8\" x2=\"12\" y2=\"12\"/><line x1=\"12\" y1=\"16\" x2=\"12.01\" y2=\"16\"/></svg><span>${pi}</span></div></div><div class=\"bs\"></div></div><div class=\"cb\" id=\"cb\"><div class=\"cs\" id=\"csum\"></div><button class=\"cbtn\" id=\"cbtn\" onclick=\"go()\"><span class=\"bl\">Confirmar turno</span><div class=\"sp\"></div></button></div></div><script>(function(){var S=${sj},D=${JSON.stringify(dates)},PN=${JSON.stringify(prof.nombre)},PE=${JSON.stringify(prof.especialidad)},CO=${JSON.stringify(prof.consultorio)},BU=${JSON.stringify(baseUrl)};var sd=null,ss=null,tk=new URLSearchParams(location.search).get('token');var td=new Date().toISOString().split('T')[0],dp=document.getElementById('dp');D.forEach(function(d){var i=S[d],p=document.createElement('div');p.className='dc';p.setAttribute('data-date',d);var h='';if(d===td)h+='<span class=\"tb\">Hoy</span>';h+='<span class=\"dn\">'+esc(i.dayName)+'</span><span class=\"dd\">'+i.dayNum+'</span><span class=\"dm\">'+esc(i.month)+'</span>';p.innerHTML=h;p.addEventListener('click',function(){sel(d)});dp.appendChild(p)});sel(D[0]);function sel(d){sd=d;ss=null;uc();dp.querySelectorAll('.dc').forEach(function(p){p.classList.toggle('sel',p.getAttribute('data-date')===d)});var sp=dp.querySelector('.dc.sel');if(sp)sp.scrollIntoView({behavior:'smooth',block:'nearest',inline:'center'});rts(d)}function rts(d){var c=document.getElementById('tc');c.innerHTML='';var sl=S[d].slots;if(!sl||!sl.length){c.innerHTML='<div style=\"text-align:center;padding:32px 0;color:var(--tm);font-size:14px\">No hay horarios</div>';return}var am=[],pm=[];sl.forEach(function(s){parseInt(s.time)<12?am.push(s):pm.push(s)});if(am.length)c.appendChild(mks('Ma\\u00f1ana','<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><circle cx=\"12\" cy=\"12\" r=\"5\"/><line x1=\"12\" y1=\"1\" x2=\"12\" y2=\"3\"/><line x1=\"12\" y1=\"21\" x2=\"12\" y2=\"23\"/><line x1=\"4.22\" y1=\"4.22\" x2=\"5.64\" y2=\"5.64\"/><line x1=\"18.36\" y1=\"18.36\" x2=\"19.78\" y2=\"19.78\"/><line x1=\"1\" y1=\"12\" x2=\"3\" y2=\"12\"/><line x1=\"21\" y1=\"12\" x2=\"23\" y2=\"12\"/><line x1=\"4.22\" y1=\"19.78\" x2=\"5.64\" y2=\"18.36\"/><line x1=\"18.36\" y1=\"5.64\" x2=\"19.78\" y2=\"4.22\"/></svg>',am));if(pm.length)c.appendChild(mks('Tarde','<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><path d=\"M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z\"/></svg>',pm))}function mks(t,ic,arr){var s=document.createElement('div');var hd=document.createElement('div');hd.className='tsh';hd.innerHTML='<div class=\"tsi\">'+ic+'</div><div class=\"tst\">'+t+'</div>';s.appendChild(hd);var g=document.createElement('div');g.className='tg';arr.forEach(function(sl){var d=document.createElement('div');d.className='ts';d.setAttribute('data-iso',sl.iso);d.innerHTML='<svg class=\"ck\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"3\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg>'+esc(sl.time);d.addEventListener('click',function(){sls(sl,d)});g.appendChild(d)});s.appendChild(g);return s}function sls(slot,el){ss=slot;document.querySelectorAll('.ts').forEach(function(s){s.classList.remove('sel')});el.classList.add('sel');uc()}function uc(){var b=document.getElementById('cb');if(!ss){b.classList.remove('vis');return}var i=S[sd];document.getElementById('csum').innerHTML='<strong>'+esc(i.dayName)+' '+i.dayNum+' de '+esc(i.month)+'</strong> a las <strong>'+esc(ss.time)+'</strong> con <strong>'+esc(PN)+'</strong>';b.classList.add('vis')}window.go=function(){if(!ss)return;var b=document.getElementById('cbtn');b.classList.add('ld');b.disabled=true;fetch(BU+'?token='+encodeURIComponent(tk)+'&action=confirmar&slot='+encodeURIComponent(ss.iso)).then(function(r){if(!r.ok)throw new Error('err');return r.text()}).then(function(h){if(h.trim().indexOf('<!D')===0){{document.open();document.write(h);document.close()}}else{b.classList.remove('ld');b.disabled=false}}).catch(function(){b.classList.remove('ld');b.disabled=false;var t=document.createElement('div');t.style.cssText='position:fixed;bottom:100px;left:50%;transform:translateX(-50%);background:var(--r);color:#fff;padding:12px 20px;border-radius:100px;font-size:14px;font-weight:500;z-index:200;box-shadow:0 4px 16px rgba(239,68,68,0.3);max-width:90%;text-align:center';t.textContent='Error al confirmar. Intent\\u00e1 de nuevo.';document.body.appendChild(t);setTimeout(function(){t.style.opacity='0';t.style.transition='opacity 0.3s';setTimeout(function(){t.remove()},300)},3000)})};function esc(s){var d=document.createElement('div');d.appendChild(document.createTextNode(String(s)));return d.innerHTML}})();</script></body></html>`;\n\nreturn [{json:{html}}];"}},{"id":"c08-respond","name":"Respond HTML","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[80,300],"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html; charset=utf-8"}]}}}}],"connections":{"Webhook Turnos":{"main":[[{"node":"Selector de Turnos","type":"main","index":0}]]},"Selector de Turnos":{"main":[[{"node":"Respond HTML","type":"main","index":0}]]}},"authors":"Carlos Gonzalez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-04-22T04:07:21.383Z","id":173,"workflowId":"lNSGEWwP4VlSVES8","versionId":"e1e040e0-18dc-43f2-b900-dce385b1754c","event":"activated","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805"}]}}