consultorio-kit/n8n/WF09-vapi-tool-calls.json
{"updatedAt":"2026-05-05T18:23:35.859Z","createdAt":"2026-04-07T19:23:22.633Z","id":"c0m8vnnubPQSGnTe","name":"Consultorio - WF09 VAPI Tool Calls","description":null,"active":true,"isArchived":false,"nodes":[{"id":"wh-01","name":"Webhook VAPI Tools","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,300],"parameters":{"httpMethod":"POST","path":"vapi-consultorio-tools","responseMode":"responseNode","options":{}},"webhookId":"2231ddbe-17c8-480b-a016-41f51c43cd73"},{"id":"code-01","name":"Code: Procesar Tool Call","type":"n8n-nodes-base.code","typeVersion":2,"position":[300,300],"parameters":{"jsCode":"// ============================================================\n// WF-09: VAPI Tool Calls Handler — Consultorio Inteligente\n// v1.1 — Fix: usar customerPhone (caller ID) como fuente principal\n// ============================================================\n\nconst helpers = this.helpers;\nconst SUPABASE_URL = $env.SUPABASE_URL;\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_KEY;\nconst WA_TOKEN = $env.META_WHATSAPP_TOKEN;\nconst PHONE_ID = '963190063548521';\nconst SECRET_KEY = 'NT2026-vapi-s3cur3-k3y';\nconst N8N_BASE = $env.WEBHOOK_URL || $env.N8N_HOST || '';\n\nconst CONSULTORIO = {\n  nombre: 'Policonsultorio Rivadavia',\n  waNumber: '5491137936325',\n  direccion: 'Av. Rivadavia 4520, Piso 1, Caballito, CABA',\n  mapsLink: 'https://maps.google.com/?q=Av+Rivadavia+4520+CABA',\n  horario: 'Lun-Vie 8:30-19:00, Sab 9:00-13:00',\n  telefono: '(011) 4555-1234',\n  obrasociales: ['OSDE', 'Swiss Medical', 'Galeno', 'IOMA', 'PAMI', 'Medife', 'Sancor Salud', 'OSECAC', 'OSPEDYC', 'Union Personal'],\n  precioParticular: 45000\n};\nconst DIAS = ['Dom','Lun','Mar','Mie','Jue','Vie','Sab'];\n\nasync function supaGet(table, params) {\n  try {\n    return await helpers.httpRequest({\n      method: 'GET',\n      url: `${SUPABASE_URL}/rest/v1/${table}`,\n      qs: params || {},\n      headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` }\n    });\n  } catch (e) { return []; }\n}\n\nasync function supaInsert(table, data) {\n  try {\n    await helpers.httpRequest({\n      method: 'POST',\n      url: `${SUPABASE_URL}/rest/v1/${table}`,\n      headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify(data)\n    });\n  } catch (e) {}\n}\n\nasync function supaUpdate(table, filters, data) {\n  try {\n    await helpers.httpRequest({\n      method: 'PATCH',\n      url: `${SUPABASE_URL}/rest/v1/${table}`,\n      qs: filters,\n      headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ ...data, updated_at: new Date().toISOString() })\n    });\n  } catch (e) {}\n}\n\nasync function sendText(phone, text) {\n  const resp = await helpers.httpRequest({\n    method: 'POST',\n    url: `https://graph.facebook.com/v21.0/${PHONE_ID}/messages`,\n    headers: { 'Authorization': `Bearer ${WA_TOKEN}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ messaging_product: 'whatsapp', to: phone, type: 'text', text: { body: text } })\n  });\n  if (!resp?.messages?.length) throw new Error('WA send failed: ' + JSON.stringify(resp));\n  return resp;\n}\n\nasync function sendTemplate(phone, templateName, bodyParams) {\n  const resp = await helpers.httpRequest({\n    method: 'POST',\n    url: `https://graph.facebook.com/v21.0/${PHONE_ID}/messages`,\n    headers: { 'Authorization': `Bearer ${WA_TOKEN}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      messaging_product: 'whatsapp',\n      to: phone,\n      type: 'template',\n      template: {\n        name: templateName,\n        language: { code: 'es_AR' },\n        components: [{\n          type: 'body',\n          parameters: bodyParams.map(t => ({ type: 'text', text: String(t) }))\n        }]\n      }\n    })\n  });\n  if (!resp?.messages?.length) throw new Error('WA template send failed: ' + JSON.stringify(resp));\n  return resp;\n}\n\nfunction formatPhone(phone) {\n  if (!phone) return '';\n  let p = phone.replace(/[^0-9]/g, '');\n  if (p.startsWith('54') && p.length >= 12) return p;\n  if (p.startsWith('9') && p.length >= 10) return '54' + p;\n  if (p.length === 10) return '549' + p;\n  return p;\n}\n\n// Meta API Argentina: strip el 9 móvil (5491130875304 → 541130875304)\nfunction formatPhoneWA(phone) {\n  let p = formatPhone(phone);\n  if (p.startsWith('549') && p.length === 13) p = '54' + p.slice(3);\n  return p;\n}\n\nfunction isRealPhone(phone) {\n  if (!phone) return false;\n  const p = phone.replace(/[^0-9]/g, '');\n  if (p.includes('55554050') || p.includes('12345') || p.includes('00000')) return false;\n  return p.length >= 10;\n}\n\nconst body = $input.first().json.body;\nconst headers_req = $input.first().json.headers;\n\nconst authHeader = headers_req?.['x-vapi-secret'] || headers_req?.['X-Vapi-Secret'] || '';\nif (authHeader !== SECRET_KEY) {\n  return [{ json: { toolCallId: 'unknown', result: 'Error de autenticacion' } }];\n}\n\nconst message = body?.message;\nconst toolCallList = message?.toolCallList;\nif (!toolCallList?.length) {\n  return [{ json: { toolCallId: 'unknown', result: 'No se recibio tool call' } }];\n}\n\nconst toolCall = toolCallList[0];\nconst toolCallId = toolCall?.id || '';\nconst functionName = toolCall?.function?.name || '';\nconst args = toolCall?.function?.arguments || {};\nconst customerPhone = message?.call?.customer?.number || '';\n\ntry {\n  if (functionName === 'consultarInfo') {\n    const cat = args.categoria || '';\n    if (cat === 'especialidades') {\n      const profs = await supaGet('consultorio_profesionales', { activo: 'eq.true', select: 'especialidad', order: 'especialidad.asc' });\n      const esps = [...new Set((profs || []).map(p => p.especialidad))];\n      return [{ json: { toolCallId, result: `Especialidades disponibles: ${esps.join(', ')}` } }];\n    }\n    if (cat === 'profesionales') {\n      const filters = { activo: 'eq.true', select: 'nombre,especialidad', order: 'especialidad.asc' };\n      if (args.especialidad) filters.especialidad = `eq.${args.especialidad}`;\n      const profs = await supaGet('consultorio_profesionales', filters);\n      if (!profs?.length) return [{ json: { toolCallId, result: 'No encontre profesionales para esa especialidad.' } }];\n      const lista = profs.map(p => `${p.nombre} (${p.especialidad})`).join(', ');\n      return [{ json: { toolCallId, result: `Profesionales: ${lista}` } }];\n    }\n    if (cat === 'horarios_profesional') {\n      const nombre = args.profesional_nombre || '';\n      if (!nombre) return [{ json: { toolCallId, result: 'Necesito el nombre del profesional.' } }];\n      const profs = await supaGet('consultorio_profesionales', { activo: 'eq.true', nombre: `ilike.*${nombre}*`, select: 'id,nombre,especialidad,duracion_turno_min' });\n      if (!profs?.length) return [{ json: { toolCallId, result: 'No encontre un profesional con ese nombre.' } }];\n      const prof = profs[0];\n      const horarios = await supaGet('consultorio_horarios_profesional', { profesional_id: `eq.${prof.id}`, select: 'dia_semana,hora_inicio,hora_fin', order: 'dia_semana.asc' });\n      if (!horarios?.length) return [{ json: { toolCallId, result: `${prof.nombre} no tiene horarios configurados.` } }];\n      const lista = horarios.map(h => `${DIAS[h.dia_semana]} de ${h.hora_inicio.slice(0,5)} a ${h.hora_fin.slice(0,5)}`).join(', ');\n      return [{ json: { toolCallId, result: `${prof.nombre} (${prof.especialidad}) atiende: ${lista}. Turnos de ${prof.duracion_turno_min} minutos.` } }];\n    }\n    if (cat === 'obras_sociales') return [{ json: { toolCallId, result: `Obras sociales: ${CONSULTORIO.obrasociales.join(', ')}` } }];\n    if (cat === 'direccion') return [{ json: { toolCallId, result: `${CONSULTORIO.nombre}, ${CONSULTORIO.direccion}. Tel: ${CONSULTORIO.telefono}` } }];\n    if (cat === 'horario_general') return [{ json: { toolCallId, result: `Horario: ${CONSULTORIO.horario}` } }];\n    if (cat === 'precios') return [{ json: { toolCallId, result: `Consulta particular: $${CONSULTORIO.precioParticular.toLocaleString('es-AR')}` } }];\n    return [{ json: { toolCallId, result: 'Categoria no reconocida.' } }];\n  }\n\n  if (functionName === 'consultarTurnosPaciente') {\n    const dni = (args.dni || '').replace(/\\./g, '').trim();\n    if (!dni || dni.length < 7) return [{ json: { toolCallId, result: 'DNI no valido. Debe tener al menos 7 digitos.' } }];\n    const pacientes = await supaGet('consultorio_pacientes', { dni: `eq.${dni}`, select: 'id,nombre' });\n    if (!pacientes?.length) return [{ json: { toolCallId, result: `No encontre paciente con DNI ${dni}.` } }];\n    const pac = pacientes[0];\n    const turnos = await supaGet('consultorio_turnos', { paciente_id: `eq.${pac.id}`, estado: 'in.(agendado,confirmado)', select: 'fecha_hora,estado,profesional_id', order: 'fecha_hora.asc' });\n    if (!turnos?.length) return [{ json: { toolCallId, result: `${pac.nombre}, no tenes turnos pendientes.` } }];\n    const profIds = [...new Set(turnos.map(t => t.profesional_id))];\n    const profs = await supaGet('consultorio_profesionales', { id: `in.(${profIds.join(',')})`, select: 'id,nombre,especialidad' });\n    const profMap = {};\n    (profs || []).forEach(p => { profMap[p.id] = p; });\n    const lista = turnos.map(t => {\n      const f = new Date(t.fecha_hora);\n      const prof = profMap[t.profesional_id] || {};\n      return `${f.getDate()}/${f.getMonth()+1} a las ${f.getHours()}:${String(f.getMinutes()).padStart(2,'0')} con ${prof.nombre || 'profesional'} (${prof.especialidad || ''})`;\n    }).join('. ');\n    return [{ json: { toolCallId, result: `${pac.nombre}, tus turnos: ${lista}` } }];\n  }\n\n  if (functionName === 'enviarWhatsAppBooking') {\n    let tel = '';\n    if (isRealPhone(customerPhone)) tel = customerPhone;\n    else if (isRealPhone(args.telefono)) tel = args.telefono;\n    if (!tel) return [{ json: { toolCallId, result: 'No pude obtener el numero.' } }];\n    const waPhone = formatPhone(tel);      // para Supabase lookup (con 9)\n    const waPhoneSend = formatPhone(tel);  // para Meta WhatsApp API (con 9)\n    const nombre = args.nombre_paciente || '';\n    const especialidad = args.especialidad || '';\n    const primerNombre = nombre ? nombre.split(' ')[0] : 'Paciente';\n    const espDisplay = especialidad || 'tu consulta';\n    const tmplResp = await sendTemplate(waPhoneSend, 'turno_booking', [primerNombre, espDisplay]);\n    const waId = tmplResp?.contacts?.[0]?.wa_id || waPhoneSend;\n    // Upsert contexto para WF02\n    const existing = await supaGet('consultorio_conversaciones', { telefono_wa: `eq.${waPhone}`, select: 'id' });\n    const vapiCtx = { from_vapi: true, nombre_sugerido: nombre, especialidad_sugerida: especialidad };\n    if (existing?.length) {\n      await supaUpdate('consultorio_conversaciones', { telefono_wa: `eq.${waPhone}` },\n        { estado: 'inicio', contexto: vapiCtx, handoff_humano: false });\n    } else {\n      await supaInsert('consultorio_conversaciones',\n        { telefono_wa: waPhone, estado: 'inicio', contexto: vapiCtx, handoff_humano: false });\n    }\n    return [{ json: { toolCallId, result: 'WhatsApp enviado correctamente.', debug_waId: waId, debug_sendPhone: waPhoneSend, debug_metaResp: tmplResp } }];\n  }\n\n  if (functionName === 'enviarWhatsAppCancelacion') {\n    let tel = '';\n    if (isRealPhone(customerPhone)) tel = customerPhone;\n    else if (isRealPhone(args.telefono)) tel = args.telefono;\n    if (!tel) return [{ json: { toolCallId, result: 'No pude obtener el numero.' } }];\n    const waPhone = formatPhone(tel);\n    const waPhoneSend = formatPhone(tel);  // con 9 móvil para WhatsApp\n    const nombre = args.nombre_paciente || '';\n    const medico = args.medico_nombre || 'tu médico';\n    const primerNombre = nombre ? nombre.split(' ')[0] : 'Paciente';\n    await sendTemplate(waPhoneSend, 'turno_cancelacion', [primerNombre, medico]);\n    return [{ json: { toolCallId, result: 'WhatsApp enviado para cancelacion.' } }];\n  }\n\n  if (functionName === 'consultarDisponibilidad') {\n    const nombre = args.profesional_nombre || '';\n    const especialidad = args.especialidad || '';\n    const allProfs = await supaGet('consultorio_profesionales', { activo: 'eq.true', select: 'id,nombre,especialidad,duracion_turno_min' });\n    const norm = s => s.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n    let profs = allProfs || [];\n    if (nombre) profs = profs.filter(p => norm(p.nombre).includes(norm(nombre)));\n    else if (especialidad) profs = profs.filter(p => norm(p.especialidad) === norm(especialidad));\n    if (!profs?.length) return [{ json: { toolCallId, result: 'No encontré ese profesional o especialidad.' } }];\n    const prof = profs[0];\n    const horarios = await supaGet('consultorio_horarios_profesional', {\n      profesional_id: `eq.${prof.id}`, select: 'dia_semana,hora_inicio,hora_fin', order: 'dia_semana.asc'\n    });\n    if (!horarios?.length) return [{ json: { toolCallId, result: `${prof.nombre} no tiene agenda configurada todavía.` } }];\n    const diasNombre = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\n    const lista = horarios.map(h => `${diasNombre[h.dia_semana]} de ${h.hora_inicio.slice(0,5)} a ${h.hora_fin.slice(0,5)}`).join(', ');\n    return [{ json: { toolCallId, result: `${prof.nombre} (${prof.especialidad}) atiende ${lista}. Hay turnos disponibles. ¿Querés que te mande un WhatsApp para que elijas el horario que más te convenga?` } }];\n  }\n\n  return [{ json: { toolCallId, result: `Tool ${functionName} no reconocida.` } }];\n\n} catch (error) {\n  return [{ json: { toolCallId, result: `Error: ${error.message}` } }];\n}"}},{"id":"resp-01","name":"Respond to VAPI","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[600,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ results: [{ toolCallId: $json.toolCallId, result: $json.result }] }) }}","options":{}}}],"connections":{"Webhook VAPI Tools":{"main":[[{"node":"Code: Procesar Tool Call","type":"main","index":0}]]},"Code: Procesar Tool Call":{"main":[[{"node":"Respond to VAPI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"5fef3fa5-8928-4bea-bf8e-81173293057d","activeVersionId":"5fef3fa5-8928-4bea-bf8e-81173293057d","versionCounter":36,"triggerCount":1,"shared":[{"updatedAt":"2026-04-07T19:23:22.633Z","createdAt":"2026-04-07T19:23:22.633Z","role":"workflow:owner","workflowId":"c0m8vnnubPQSGnTe","projectId":"Gc8KdOrt5WcC0jQ7","project":{"updatedAt":"2026-03-03T03:56:33.366Z","createdAt":"2026-03-03T03:50:22.655Z","id":"Gc8KdOrt5WcC0jQ7","name":"Carlos Gonzalez <cgonzalezarchilla@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"606822e1-c1a1-4b8e-bb98-c635d3a41805","projectRelations":[{"updatedAt":"2026-03-03T03:50:22.655Z","createdAt":"2026-03-03T03:50:22.655Z","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805","projectId":"Gc8KdOrt5WcC0jQ7","user":{"updatedAt":"2026-05-05T18:21:47.002Z","createdAt":"2026-03-03T03:50:22.256Z","id":"606822e1-c1a1-4b8e-bb98-c635d3a41805","email":"cgonzalezarchilla@gmail.com","firstName":"Carlos","lastName":"Gonzalez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-03-03T03:56:31.369Z","personalization_survey_n8n_version":"2.4.7"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"0X5Abkk-rKt5VX1dzIKGM","userActivatedAt":1772563552032,"npsSurvey":{"responded":true,"lastShownAt":1773760612644}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-05-05","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-05T18:23:35.862Z","createdAt":"2026-05-05T18:23:35.862Z","versionId":"5fef3fa5-8928-4bea-bf8e-81173293057d","workflowId":"c0m8vnnubPQSGnTe","nodes":[{"id":"wh-01","name":"Webhook VAPI Tools","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,300],"parameters":{"httpMethod":"POST","path":"vapi-consultorio-tools","responseMode":"responseNode","options":{}},"webhookId":"2231ddbe-17c8-480b-a016-41f51c43cd73"},{"id":"code-01","name":"Code: Procesar Tool Call","type":"n8n-nodes-base.code","typeVersion":2,"position":[300,300],"parameters":{"jsCode":"// ============================================================\n// WF-09: VAPI Tool Calls Handler — Consultorio Inteligente\n// v1.1 — Fix: usar customerPhone (caller ID) como fuente principal\n// ============================================================\n\nconst helpers = this.helpers;\nconst SUPABASE_URL = $env.SUPABASE_URL;\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_KEY;\nconst WA_TOKEN = $env.META_WHATSAPP_TOKEN;\nconst PHONE_ID = '963190063548521';\nconst SECRET_KEY = 'NT2026-vapi-s3cur3-k3y';\nconst N8N_BASE = $env.WEBHOOK_URL || $env.N8N_HOST || '';\n\nconst CONSULTORIO = {\n  nombre: 'Policonsultorio Rivadavia',\n  waNumber: '5491137936325',\n  direccion: 'Av. Rivadavia 4520, Piso 1, Caballito, CABA',\n  mapsLink: 'https://maps.google.com/?q=Av+Rivadavia+4520+CABA',\n  horario: 'Lun-Vie 8:30-19:00, Sab 9:00-13:00',\n  telefono: '(011) 4555-1234',\n  obrasociales: ['OSDE', 'Swiss Medical', 'Galeno', 'IOMA', 'PAMI', 'Medife', 'Sancor Salud', 'OSECAC', 'OSPEDYC', 'Union Personal'],\n  precioParticular: 45000\n};\nconst DIAS = ['Dom','Lun','Mar','Mie','Jue','Vie','Sab'];\n\nasync function supaGet(table, params) {\n  try {\n    return await helpers.httpRequest({\n      method: 'GET',\n      url: `${SUPABASE_URL}/rest/v1/${table}`,\n      qs: params || {},\n      headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` }\n    });\n  } catch (e) { return []; }\n}\n\nasync function supaInsert(table, data) {\n  try {\n    await helpers.httpRequest({\n      method: 'POST',\n      url: `${SUPABASE_URL}/rest/v1/${table}`,\n      headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify(data)\n    });\n  } catch (e) {}\n}\n\nasync function supaUpdate(table, filters, data) {\n  try {\n    await helpers.httpRequest({\n      method: 'PATCH',\n      url: `${SUPABASE_URL}/rest/v1/${table}`,\n      qs: filters,\n      headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ ...data, updated_at: new Date().toISOString() })\n    });\n  } catch (e) {}\n}\n\nasync function sendText(phone, text) {\n  const resp = await helpers.httpRequest({\n    method: 'POST',\n    url: `https://graph.facebook.com/v21.0/${PHONE_ID}/messages`,\n    headers: { 'Authorization': `Bearer ${WA_TOKEN}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ messaging_product: 'whatsapp', to: phone, type: 'text', text: { body: text } })\n  });\n  if (!resp?.messages?.length) throw new Error('WA send failed: ' + JSON.stringify(resp));\n  return resp;\n}\n\nasync function sendTemplate(phone, templateName, bodyParams) {\n  const resp = await helpers.httpRequest({\n    method: 'POST',\n    url: `https://graph.facebook.com/v21.0/${PHONE_ID}/messages`,\n    headers: { 'Authorization': `Bearer ${WA_TOKEN}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      messaging_product: 'whatsapp',\n      to: phone,\n      type: 'template',\n      template: {\n        name: templateName,\n        language: { code: 'es_AR' },\n        components: [{\n          type: 'body',\n          parameters: bodyParams.map(t => ({ type: 'text', text: String(t) }))\n        }]\n      }\n    })\n  });\n  if (!resp?.messages?.length) throw new Error('WA template send failed: ' + JSON.stringify(resp));\n  return resp;\n}\n\nfunction formatPhone(phone) {\n  if (!phone) return '';\n  let p = phone.replace(/[^0-9]/g, '');\n  if (p.startsWith('54') && p.length >= 12) return p;\n  if (p.startsWith('9') && p.length >= 10) return '54' + p;\n  if (p.length === 10) return '549' + p;\n  return p;\n}\n\n// Meta API Argentina: strip el 9 móvil (5491130875304 → 541130875304)\nfunction formatPhoneWA(phone) {\n  let p = formatPhone(phone);\n  if (p.startsWith('549') && p.length === 13) p = '54' + p.slice(3);\n  return p;\n}\n\nfunction isRealPhone(phone) {\n  if (!phone) return false;\n  const p = phone.replace(/[^0-9]/g, '');\n  if (p.includes('55554050') || p.includes('12345') || p.includes('00000')) return false;\n  return p.length >= 10;\n}\n\nconst body = $input.first().json.body;\nconst headers_req = $input.first().json.headers;\n\nconst authHeader = headers_req?.['x-vapi-secret'] || headers_req?.['X-Vapi-Secret'] || '';\nif (authHeader !== SECRET_KEY) {\n  return [{ json: { toolCallId: 'unknown', result: 'Error de autenticacion' } }];\n}\n\nconst message = body?.message;\nconst toolCallList = message?.toolCallList;\nif (!toolCallList?.length) {\n  return [{ json: { toolCallId: 'unknown', result: 'No se recibio tool call' } }];\n}\n\nconst toolCall = toolCallList[0];\nconst toolCallId = toolCall?.id || '';\nconst functionName = toolCall?.function?.name || '';\nconst args = toolCall?.function?.arguments || {};\nconst customerPhone = message?.call?.customer?.number || '';\n\ntry {\n  if (functionName === 'consultarInfo') {\n    const cat = args.categoria || '';\n    if (cat === 'especialidades') {\n      const profs = await supaGet('consultorio_profesionales', { activo: 'eq.true', select: 'especialidad', order: 'especialidad.asc' });\n      const esps = [...new Set((profs || []).map(p => p.especialidad))];\n      return [{ json: { toolCallId, result: `Especialidades disponibles: ${esps.join(', ')}` } }];\n    }\n    if (cat === 'profesionales') {\n      const filters = { activo: 'eq.true', select: 'nombre,especialidad', order: 'especialidad.asc' };\n      if (args.especialidad) filters.especialidad = `eq.${args.especialidad}`;\n      const profs = await supaGet('consultorio_profesionales', filters);\n      if (!profs?.length) return [{ json: { toolCallId, result: 'No encontre profesionales para esa especialidad.' } }];\n      const lista = profs.map(p => `${p.nombre} (${p.especialidad})`).join(', ');\n      return [{ json: { toolCallId, result: `Profesionales: ${lista}` } }];\n    }\n    if (cat === 'horarios_profesional') {\n      const nombre = args.profesional_nombre || '';\n      if (!nombre) return [{ json: { toolCallId, result: 'Necesito el nombre del profesional.' } }];\n      const profs = await supaGet('consultorio_profesionales', { activo: 'eq.true', nombre: `ilike.*${nombre}*`, select: 'id,nombre,especialidad,duracion_turno_min' });\n      if (!profs?.length) return [{ json: { toolCallId, result: 'No encontre un profesional con ese nombre.' } }];\n      const prof = profs[0];\n      const horarios = await supaGet('consultorio_horarios_profesional', { profesional_id: `eq.${prof.id}`, select: 'dia_semana,hora_inicio,hora_fin', order: 'dia_semana.asc' });\n      if (!horarios?.length) return [{ json: { toolCallId, result: `${prof.nombre} no tiene horarios configurados.` } }];\n      const lista = horarios.map(h => `${DIAS[h.dia_semana]} de ${h.hora_inicio.slice(0,5)} a ${h.hora_fin.slice(0,5)}`).join(', ');\n      return [{ json: { toolCallId, result: `${prof.nombre} (${prof.especialidad}) atiende: ${lista}. Turnos de ${prof.duracion_turno_min} minutos.` } }];\n    }\n    if (cat === 'obras_sociales') return [{ json: { toolCallId, result: `Obras sociales: ${CONSULTORIO.obrasociales.join(', ')}` } }];\n    if (cat === 'direccion') return [{ json: { toolCallId, result: `${CONSULTORIO.nombre}, ${CONSULTORIO.direccion}. Tel: ${CONSULTORIO.telefono}` } }];\n    if (cat === 'horario_general') return [{ json: { toolCallId, result: `Horario: ${CONSULTORIO.horario}` } }];\n    if (cat === 'precios') return [{ json: { toolCallId, result: `Consulta particular: $${CONSULTORIO.precioParticular.toLocaleString('es-AR')}` } }];\n    return [{ json: { toolCallId, result: 'Categoria no reconocida.' } }];\n  }\n\n  if (functionName === 'consultarTurnosPaciente') {\n    const dni = (args.dni || '').replace(/\\./g, '').trim();\n    if (!dni || dni.length < 7) return [{ json: { toolCallId, result: 'DNI no valido. Debe tener al menos 7 digitos.' } }];\n    const pacientes = await supaGet('consultorio_pacientes', { dni: `eq.${dni}`, select: 'id,nombre' });\n    if (!pacientes?.length) return [{ json: { toolCallId, result: `No encontre paciente con DNI ${dni}.` } }];\n    const pac = pacientes[0];\n    const turnos = await supaGet('consultorio_turnos', { paciente_id: `eq.${pac.id}`, estado: 'in.(agendado,confirmado)', select: 'fecha_hora,estado,profesional_id', order: 'fecha_hora.asc' });\n    if (!turnos?.length) return [{ json: { toolCallId, result: `${pac.nombre}, no tenes turnos pendientes.` } }];\n    const profIds = [...new Set(turnos.map(t => t.profesional_id))];\n    const profs = await supaGet('consultorio_profesionales', { id: `in.(${profIds.join(',')})`, select: 'id,nombre,especialidad' });\n    const profMap = {};\n    (profs || []).forEach(p => { profMap[p.id] = p; });\n    const lista = turnos.map(t => {\n      const f = new Date(t.fecha_hora);\n      const prof = profMap[t.profesional_id] || {};\n      return `${f.getDate()}/${f.getMonth()+1} a las ${f.getHours()}:${String(f.getMinutes()).padStart(2,'0')} con ${prof.nombre || 'profesional'} (${prof.especialidad || ''})`;\n    }).join('. ');\n    return [{ json: { toolCallId, result: `${pac.nombre}, tus turnos: ${lista}` } }];\n  }\n\n  if (functionName === 'enviarWhatsAppBooking') {\n    let tel = '';\n    if (isRealPhone(customerPhone)) tel = customerPhone;\n    else if (isRealPhone(args.telefono)) tel = args.telefono;\n    if (!tel) return [{ json: { toolCallId, result: 'No pude obtener el numero.' } }];\n    const waPhone = formatPhone(tel);      // para Supabase lookup (con 9)\n    const waPhoneSend = formatPhone(tel);  // para Meta WhatsApp API (con 9)\n    const nombre = args.nombre_paciente || '';\n    const especialidad = args.especialidad || '';\n    const primerNombre = nombre ? nombre.split(' ')[0] : 'Paciente';\n    const espDisplay = especialidad || 'tu consulta';\n    const tmplResp = await sendTemplate(waPhoneSend, 'turno_booking', [primerNombre, espDisplay]);\n    const waId = tmplResp?.contacts?.[0]?.wa_id || waPhoneSend;\n    // Upsert contexto para WF02\n    const existing = await supaGet('consultorio_conversaciones', { telefono_wa: `eq.${waPhone}`, select: 'id' });\n    const vapiCtx = { from_vapi: true, nombre_sugerido: nombre, especialidad_sugerida: especialidad };\n    if (existing?.length) {\n      await supaUpdate('consultorio_conversaciones', { telefono_wa: `eq.${waPhone}` },\n        { estado: 'inicio', contexto: vapiCtx, handoff_humano: false });\n    } else {\n      await supaInsert('consultorio_conversaciones',\n        { telefono_wa: waPhone, estado: 'inicio', contexto: vapiCtx, handoff_humano: false });\n    }\n    return [{ json: { toolCallId, result: 'WhatsApp enviado correctamente.', debug_waId: waId, debug_sendPhone: waPhoneSend, debug_metaResp: tmplResp } }];\n  }\n\n  if (functionName === 'enviarWhatsAppCancelacion') {\n    let tel = '';\n    if (isRealPhone(customerPhone)) tel = customerPhone;\n    else if (isRealPhone(args.telefono)) tel = args.telefono;\n    if (!tel) return [{ json: { toolCallId, result: 'No pude obtener el numero.' } }];\n    const waPhone = formatPhone(tel);\n    const waPhoneSend = formatPhone(tel);  // con 9 móvil para WhatsApp\n    const nombre = args.nombre_paciente || '';\n    const medico = args.medico_nombre || 'tu médico';\n    const primerNombre = nombre ? nombre.split(' ')[0] : 'Paciente';\n    await sendTemplate(waPhoneSend, 'turno_cancelacion', [primerNombre, medico]);\n    return [{ json: { toolCallId, result: 'WhatsApp enviado para cancelacion.' } }];\n  }\n\n  if (functionName === 'consultarDisponibilidad') {\n    const nombre = args.profesional_nombre || '';\n    const especialidad = args.especialidad || '';\n    const allProfs = await supaGet('consultorio_profesionales', { activo: 'eq.true', select: 'id,nombre,especialidad,duracion_turno_min' });\n    const norm = s => s.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n    let profs = allProfs || [];\n    if (nombre) profs = profs.filter(p => norm(p.nombre).includes(norm(nombre)));\n    else if (especialidad) profs = profs.filter(p => norm(p.especialidad) === norm(especialidad));\n    if (!profs?.length) return [{ json: { toolCallId, result: 'No encontré ese profesional o especialidad.' } }];\n    const prof = profs[0];\n    const horarios = await supaGet('consultorio_horarios_profesional', {\n      profesional_id: `eq.${prof.id}`, select: 'dia_semana,hora_inicio,hora_fin', order: 'dia_semana.asc'\n    });\n    if (!horarios?.length) return [{ json: { toolCallId, result: `${prof.nombre} no tiene agenda configurada todavía.` } }];\n    const diasNombre = ['domingo','lunes','martes','miércoles','jueves','viernes','sábado'];\n    const lista = horarios.map(h => `${diasNombre[h.dia_semana]} de ${h.hora_inicio.slice(0,5)} a ${h.hora_fin.slice(0,5)}`).join(', ');\n    return [{ json: { toolCallId, result: `${prof.nombre} (${prof.especialidad}) atiende ${lista}. Hay turnos disponibles. ¿Querés que te mande un WhatsApp para que elijas el horario que más te convenga?` } }];\n  }\n\n  return [{ json: { toolCallId, result: `Tool ${functionName} no reconocida.` } }];\n\n} catch (error) {\n  return [{ json: { toolCallId, result: `Error: ${error.message}` } }];\n}"}},{"id":"resp-01","name":"Respond to VAPI","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[600,300],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ results: [{ toolCallId: $json.toolCallId, result: $json.result }] }) }}","options":{}}}],"connections":{"Webhook VAPI Tools":{"main":[[{"node":"Code: Procesar Tool Call","type":"main","index":0}]]},"Code: Procesar Tool Call":{"main":[[{"node":"Respond to VAPI","type":"main","index":0}]]}},"authors":"Carlos Gonzalez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-05T18:23:35.997Z","id":279,"workflowId":"c0m8vnnubPQSGnTe","versionId":"5fef3fa5-8928-4bea-bf8e-81173293057d","event":"activated","userId":"606822e1-c1a1-4b8e-bb98-c635d3a41805"}]}}