wf01_patched.json
{"name":"Consultorio - WF01 Gateway WhatsApp","nodes":[{"id":"c01-webhook-post","name":"1. Webhook Meta POST","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,300],"parameters":{"httpMethod":"POST","path":"whatsapp-gateway","responseMode":"responseNode","options":{"rawBody":true}},"webhookId":"3fb015ab-6b45-4b25-987a-3810f962b870"},{"id":"c01-webhook-get","name":"1b. Webhook Verify GET","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,540],"parameters":{"path":"whatsapp-gateway","httpMethod":"GET","responseMode":"responseNode","options":{}},"webhookId":"3b7e6203-ee8a-4cbd-9532-d6e125f276ae"},{"id":"c01-respond-200","name":"2. Respond 200 OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-560,200],"parameters":{"respondWith":"json","responseBody":"={\"status\":\"received\"}","options":{"responseCode":200}}},{"id":"c01-extraer","name":"3. Extraer Mensaje","type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,400],"parameters":{"jsCode":"// Extraer mensaje de WhatsApp Cloud API payload\nconst body = $input.first().json?.body || $input.first().json;\nconst entry = body?.entry?.[0];\nconst changes = entry?.changes?.[0];\nconst value = changes?.value;\n\n// Filtrar status updates (delivered, read, etc.)\nif (!value?.messages || value.messages.length === 0) {\n  return [{ json: { skip: true, reason: 'status_update' } }];\n}\n\nconst msg = value.messages[0];\nconst contact = value.contacts?.[0];\nconst msgType = msg.type;\n\nlet textoMensaje = '';\nlet interactiveId = '';\nlet interactiveType = '';\n\nswitch (msgType) {\n  case 'text':\n    textoMensaje = msg.text?.body || '';\n    break;\n  case 'interactive':\n    if (msg.interactive?.button_reply) {\n      textoMensaje = msg.interactive.button_reply.title || '';\n      interactiveId = msg.interactive.button_reply.id || '';\n      interactiveType = 'button_reply';\n    } else if (msg.interactive?.list_reply) {\n      textoMensaje = msg.interactive.list_reply.title || '';\n      interactiveId = msg.interactive.list_reply.id || '';\n      interactiveType = 'list_reply';\n    }\n    break;\n  case 'button':\n    textoMensaje = msg.button?.text || '';\n    break;\n  case 'audio':\n  case 'image':\n  case 'video':\n  case 'document':\n    textoMensaje = '__MEDIA__';\n    break;\n  default:\n    textoMensaje = '__DESCONOCIDO__';\n}\n\n// Normalizar telefono argentino\nlet phone = msg.from;\nif (!phone) return [{ json: { skip: true, reason: 'no_phone' } }];\nif (phone.startsWith('54') && !phone.startsWith('549') && phone.length === 12) {\n  phone = '549' + phone.substring(2);\n}\n\n// Log mensaje entrante\nif (textoMensaje) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${$env.SUPABASE_URL}/rest/v1/consultorio_mensajes`,\n      headers: { apikey: $env.SUPABASE_SERVICE_KEY, Authorization: `Bearer ${$env.SUPABASE_SERVICE_KEY}`, 'Content-Type': 'application/json', Prefer: 'return=minimal' },\n      body: JSON.stringify({ telefono_wa: phone, direccion: 'entrada', contenido: textoMensaje, estado_bot: null })\n    });\n  } catch(e) {}\n}\nreturn [{ json: {\n  messageId: msg.id,\n  timestamp: msg.timestamp,\n  phone: phone,\n  contactName: contact?.profile?.name || 'Desconocido',\n  msgType: msgType,\n  textoMensaje: textoMensaje,\n  interactiveId: interactiveId,\n  interactiveType: interactiveType,\n  skip: false\n} }];\n\r\n"}},{"id":"c01-verify-challenge","name":"2b. Verificar Challenge","type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,540],"parameters":{"jsCode":"const query = $input.first().json?.query || $input.first().json;\nconst mode = query?.['hub.mode'];\nconst token = query?.['hub.verify_token'];\nconst challenge = query?.['hub.challenge'];\n\n// Verificar token (usar el mismo que configures en Meta)\nconst VERIFY_TOKEN = 'consultorio_demo_2026';\n\nif (mode === 'subscribe' && token === VERIFY_TOKEN) {\n  return [{ json: { challenge: challenge } }];\n}\n\nreturn [{ json: { error: 'Verification failed' } }];"}},{"id":"c01-respond-challenge","name":"2c. Respond Challenge","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-320,540],"parameters":{"respondWith":"text","responseBody":"={{ $json.challenge }}","options":{"responseCode":200}}},{"id":"c01-filter-skip","name":"4. Filtrar Skip","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,400],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"skip-check","leftValue":"={{ $json.skip }}","rightValue":"","operator":{"type":"boolean","operation":"true","name":"filter.boolean.true","singleValue":true}}],"combinator":"and"},"options":{}}},{"id":"c01-leer-conversacion","name":"5. Leer/Crear Conversacion","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,400],"parameters":{"jsCode":"const SUPABASE_URL = $env.SUPABASE_URL;\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_KEY;\nconst phone = $input.first().json.phone;\n\n// Buscar conversacion existente\nlet conv = null;\ntry {\n  const res = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n    qs: { telefono_wa: `eq.${phone}`, limit: '1' },\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` }\n  });\n  conv = res?.[0] || null;\n} catch (err) {}\n\n// Si no existe, crear\nif (!conv) {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n      headers: {\n        'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json', 'Prefer': 'return=representation'\n      },\n      body: JSON.stringify({\n        telefono_wa: phone,\n        estado: 'inicio',\n        contexto: {},\n        handoff_humano: false\n      })\n    });\n    conv = res?.[0] || { estado: 'inicio', contexto: {}, handoff_humano: false };\n  } catch (err) {\n    conv = { estado: 'inicio', contexto: {}, handoff_humano: false };\n  }\n}\n\n// Safety net: if both GET and POST failed (Supabase down), use safe defaults\nif (!conv) conv = { estado: 'inicio', contexto: {}, handoff_humano: false };\n\n// Verificar sesion expirada (30 min sin actividad)\nconst lastUpdate = new Date(conv.updated_at || 0);\nconst now = new Date();\nconst diffMin = (now - lastUpdate) / 1000 / 60;\n\nconst ESTADOS_SIN_RESET = ['adelanto_pendiente', 'respuesta_reminder'];\nif (diffMin > 30 && conv.estado !== 'inicio' && !conv.handoff_humano && !ESTADOS_SIN_RESET.includes(conv.estado)) {\n  // Reset sesion expirada\n  conv.estado = 'inicio';\n  conv.contexto = {};\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n      qs: { telefono_wa: `eq.${phone}` },\n      headers: {\n        'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify({ estado: 'inicio', contexto: {}, updated_at: now.toISOString() })\n    });\n  } catch (err) {}\n}\n\n// Merge datos del mensaje con la conversacion\nconst msgData = $input.first().json;\nreturn [{ json: {\n  ...msgData,\n  convEstado: conv.estado,\n  convContexto: conv.contexto || {},\n  convHandoff: conv.handoff_humano || false,\n  convId: conv.id\n} }];"}},{"id":"c01-switch-handoff","name":"6. Rutear Bot o Handoff","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,400],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"handoff-check","leftValue":"={{ $json.convHandoff }}","rightValue":"","operator":{"type":"boolean","operation":"true","name":"filter.boolean.true","singleValue":true}}],"combinator":"and"},"options":{}}},{"id":"c01-to-bot","name":"7a. Ejecutar Bot","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[400,340],"parameters":{"workflowId":{"__rl":true,"value":"la5XjIMeKIMoTa0q","mode":"id"},"options":{}}},{"id":"c01-to-handoff","name":"7b. Reenviar a Telegram","type":"n8n-nodes-base.code","typeVersion":2,"parameters":{"jsCode":"// Reenviar mensaje del paciente a Telegram (handoff activo) - con reply threading\nconst helpers = this.helpers;\nconst SUPABASE_URL = $env.SUPABASE_URL;\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_KEY;\nconst TELEGRAM_TOKEN = $env.TELEGRAM_BOT_TOKEN || '';\nconst TELEGRAM_CHAT = '6343825256';\n\nif (!TELEGRAM_TOKEN) {\n  return [{ json: { action: 'telegram_not_configured' } }];\n}\n\nconst data = $input.first().json;\nconst ctx = data.convContexto || {};\nconst nombre = ctx.pacienteNombre || data.contactName || 'Paciente';\nconst texto = data.textoMensaje || '[sin texto]';\n\nasync function sendTG(text, replyToMsgId) {\n  const payload = { chat_id: TELEGRAM_CHAT, text, parse_mode: 'HTML' };\n  if (replyToMsgId) payload.reply_to_message_id = replyToMsgId;\n  const resp = await helpers.httpRequest({\n    method: 'POST',\n    url: `https://api.telegram.org/bot${TELEGRAM_TOKEN}/sendMessage`,\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify(payload)\n  });\n  const parsed = typeof resp === 'string' ? JSON.parse(resp) : resp;\n  if (parsed?.ok !== true) throw new Error('TG API error: ' + JSON.stringify(parsed));\n  return parsed?.result?.message_id || null;\n}\n\nasync function saveCtx(phone, newCtx) {\n  await helpers.httpRequest({\n    method: 'PATCH',\n    url: `${SUPABASE_URL}/rest/v1/consultorio_conversaciones`,\n    qs: { telefono_wa: `eq.${phone}` },\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ contexto: newCtx, updated_at: new Date().toISOString() })\n  });\n}\n\ntry {\n  let tgMsgId = ctx.handoffTgMsgId || null;\n  const newCtx = { ...ctx };\n\n  if (ctx.handoffResumen) {\n    // Primera vez: mandar alerta con instrucciones y capturar message_id\n    const alertText = ctx.handoffResumen +\n      '\\n\\n?? <b>Respond? este mensaje</b> para hablar con el paciente.\\n? Respond? <code>/fin</code> para cerrar el handoff.';\n    tgMsgId = await sendTG(alertText, null);\n    if (tgMsgId) newCtx.handoffTgMsgId = tgMsgId;\n    delete newCtx.handoffResumen;\n    // Save context immediately to persist tgMsgId before any further sends\n    try { await saveCtx(data.phone, newCtx); } catch(saveErr) { console.error('saveCtx failed:', saveErr?.message); }\n  }\n\n  // Reenviar mensaje del paciente como reply al alerta original\n  await sendTG(`?? <b>${nombre}</b>:\\n${texto}`, tgMsgId);\n} catch(e) {}\n\nreturn [{ json: { action: 'forwarded_to_telegram', phone: data.phone } }];\n"},"position":[400,500]},{"id":"c01-rutear-adelanto","name":"6b. Rutear Adelanto","type":"n8n-nodes-base.if","typeVersion":2,"position":[640,340],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"adelanto-check","leftValue":"={{ $json.convEstado }}","rightValue":"adelanto_pendiente","operator":{"type":"string","operation":"equals","singleValue":true}}],"combinator":"and"}}},{"id":"c01-to-adelanto","name":"7c. Ejecutar Adelanto","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[880,240],"parameters":{"workflowId":{"value":"6VPGaA13coUyciDm","mode":"id"},"waitForSubWorkflow":false,"options":{}}}],"connections":{"1. Webhook Meta POST":{"main":[[{"node":"2. Respond 200 OK","type":"main","index":0},{"node":"3. Extraer Mensaje","type":"main","index":0}]]},"1b. Webhook Verify GET":{"main":[[{"node":"2b. Verificar Challenge","type":"main","index":0}]]},"2b. Verificar Challenge":{"main":[[{"node":"2c. Respond Challenge","type":"main","index":0}]]},"3. Extraer Mensaje":{"main":[[{"node":"4. Filtrar Skip","type":"main","index":0}]]},"4. Filtrar Skip":{"main":[[],[{"node":"5. Leer/Crear Conversacion","type":"main","index":0}]]},"5. Leer/Crear Conversacion":{"main":[[{"node":"6. Rutear Bot o Handoff","type":"main","index":0}]]},"6. Rutear Bot o Handoff":{"main":[[{"node":"7b. Reenviar a Telegram","type":"main","index":0}],[{"node":"6b. Rutear Adelanto","type":"main","index":0}]]},"6b. Rutear Adelanto":{"main":[[{"node":"7c. Ejecutar Adelanto","type":"main","index":0}],[{"node":"7a. Ejecutar Bot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Argentina/Buenos_Aires","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"anEe7qyiweYG6Ar0"},"staticData":null}